$base-primary-color: #2684ff; // 메인 컬러
$base-notice-background: #f3f9fc; // 기본 게시판 공지 배경
$base-border-color: #e0e0e0; // 선 컬러

$base-bookmark-width: 35px; // 목록형 북마크 너비
$base-writer-width: 160px; // 목록형 작성자 너비
$base-read_count-width: 100px; // 목록형 조회수 너비
$base-created_at-width: 110px; // 목록형 작성일 너비
$base-updated_at-width: 110px; // 목록형 수정일 너비
$base-assent_count-width: 100px; // 목록형 추천수 너비
$base-dissent_count-width: 100px; // 목록형 비추천수 너비
$base-dynamic_field-width: 150px; // 목록형 확장필드 너비
