/* 게시판 */
.xe-list-board-footer {
    margin-top: -70px;
}
.xe-list-board-body {
    font-size: 14px;
    letter-spacing: -0.2px;

    .xi-lock {
        color: #aeaeae;
    }
    .xe-list-board-list__default {
        font-size: 16px;
        letter-spacing: -0.4px;
        // line-height: 50px;
        color: #141414;
    }

    .xe-list-board-list {
        border-top: 1px solid #141414;
        list-style-type: none;
        margin: 0;
        padding: 0 0 75px 0;

        .xe-hidden-mobile {
            display: none;
        }
        
        .xe-list-board-list--header {
            display: none;
            border-bottom: 1px solid #e0e0e0;
            color: #141414;
            padding: 10px 0;
        }


        .xe-list-board-list--item {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            position: relative;
            border-bottom: 1px solid #e0e0e0;
            padding: 12px 0;

            > div {
            flex-shrink: 0;

                &:after {
                    content: '·';
                    margin: 0 5px;
                }

                &:last-child:after {
                    content: '';
                    margin: 0;
                }
            }

            .xe-list-board-list__mobile-style {
                font-size: 12px;
                letter-spacing: -0.2px;
                color: #9c9c9c;
            }

            .xe-list-board-list__category {
                font-size: 13px;
                // line-height: 24px;
                letter-spacing: -0.2px;
                color: #767676;
                margin-bottom: 5px;
            }
            
            .xe-list-board-list__notice--box-form {
                color:#fff;
                margin-right: 10px;
                line-height: 20px;
                
                .xe-list-board-list__notice--box-form-bg {
                    background: #2684ff;
                    padding: 5px 10px;
                    border-radius: 4px;
                    display: inline-block;
                }
            }
            
            .xe-list-board-list__category {
                flex-basis: 100%;
                font-weight: 500;
                margin: 3px 0 2px 0;
            }

            .xe-list-board-list__category,
            .xe-list-board-list__title {
                &:after {
                    content: '';
                    margin: 0;
                }
            }

            @media (max-width: 991px) {
                .xe-list-board-list__title {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                white-space: normal;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                }
            }
            @media (min-width: 992px) {
                .xe-list-board-list__title .xe-list-board-list__title-text,
                .xe-list-board-list__title .xe-list-board-list__title-text span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                }
            }

            .xe-list-board-list__title {
                flex-basis: 100%;
                margin-bottom: 10px;
                word-break: keep-all;

                .xe-list-board-list__title-link {
                    text-decoration: none;
                    color: #141414;
                    size: 15px;
                    // line-height: 22px;
                    letter-spacing: -0.4px;
                    margin-bottom: 15px;
                    &:visited {
                        color: #767676 !important;
                    }

                    &:focus .xe-list-board-list__title-text {
                        text-decoration: underline;
                    }

                    .xe-list-board-list__title-text {
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .xe-list-board-list__title-icon {
                        display: inline-block;

                        .xe-list-board-list__title-comment_count {
                            color: #2684ff;
                            font-size: 15px;
                            letter-spacing: -0.4px;
                        }

                    }
                    @media(min-width: 992px) {
                        .xe-list-board-list__title-icon {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            .xe-list-board-list__writer {
                text-overflow: ellipsis;
                white-space: nowrap;

                &:after {
                    display: none;
                }
                a {
                    color: #141414 ;
                    text-decoration: none;

                    .xe-list-board-list__display_name {
                        color: #767676;
                        display: block;
                        margin-right: 10px;
                    }
                }
                .xe-dropdown-menu {
                }

            }
            .xe-list-board-list__read_count {
                // flex-basis: 10%;
            }

            .xe-list-board-list__vote-count {
                display: flex;
                justify-content: flex-end;
                flex-basis: 100%;
                margin-top: 10px;
             

                &:after {
                    content: '';
                    margin: 0px;
                }

                div:first-child {
                    margin-right: 15px;
                }

                div:last-child {
                    margin-right: 0;
                }
            }

            .xe-list-board-list__dynamic-field {
                .xe-list-board-list__dynamic-field-title {
                    font-weight: 700;
                }
            }
        }
    }
}

@media (min-width:768px) {

}

@media (min-width:992px) {
    .xe-list-board-body {
        .xe-list-board-list {
            overflow-x: auto;

            .xe-hidden-pc {
                display: none !important;
            }

            .xe-hidden-mobile {
                display: inline-block;
            }

            .xe-list-board-list--header {
                display: flex;
                align-items: center;

                > div {
                    text-align: center;
                    padding: 0 12px;
                }

                .xe-list-board-list__favorite {
                    flex: 0 0 48px;
                    max-width: 48px;
                    text-align: left;

                    a {
                        color: #141414;
                    }
                }
                .xe-list-board-list__category {
                    flex: 0 0 100px;
                    max-width: 100px;
                    text-align: left;
                }
                .xe-list-board-list__writer {
                    flex: 0 0 130px;
                    max-width: 130px;
                    text-align: left;
                }
                .xe-list-board-list__created_at {
                    flex: 0 0 150px;
                    max-width: 150px;
                }
                .xe-list-board-list__updated_at {
                    flex: 0 0 150px;
                    max-width: 150px;
                }
                .xe-list-board-list__assent_count {
                    flex: 0 0 80px;
                    max-width: 80px;
                }
                .xe-list-board-list__dissent_count {
                      flex: 0 0 80px;
                      max-width: 80px;
                }
                .xe-list-board-list__read_count {
                      flex: 0 0 100px;
                      max-width: 100px;
                }

                .xe-list-board-list__title {
                    flex: 1;
                    min-width: 20%;
                    text-align: left;
                }

                .xe-list-board-list__dynamic-field {
                    flex: 0 0 150px;
                    max-width: 150px;
                }            
            }

            .xe-list-board-list--item {
                display: flex;
                flex-wrap: nowrap;
                padding: 0;

                > div {
                    flex-wrap: nowrap;
                    text-align: center;
                    flex-shrink: 1;
                    flex-grow: 1;
                    flex-basis: 10%;
                    // line-height: 50px; */
                    display: flex;
                    align-items: center;
                    
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0 12px;

                    &:after {
                        content: '';
                        margin: 0;
                    }
                }

                .xe-list-board-list__mobile-style {
                    font-size: 14px;
                    letter-spacing: -0.2px;
                    color: #141414;
                }

                &:hover {
                    background:#fafafa;
                }

                &.xe-list-board-list--item-notice {
                    background: #f3f9fc;
                }

                .xe-list-board-list__favorite {
                    flex: 0 0 48px;
                    max-width: 48px;

                    a {
                        color: #141414;
                    }
                    i:before {
                        content: '\ea1d';
                        display: inline-block;
                    }

                    .on i:before {
                        content: '\ea1c';
                        display: inline-block;
                    }
                }
                .xe-list-board-list__category {
                    flex: 0 0 100px;
                    max-width: 100px;
                    text-align: left;
                    font-weight: normal;
                    margin: 0;
                    font-size: 14px;
                    letter-spacing: -0.2px;

                    .xe-list-board-list__text {
                        color: #141414;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;


                    }
                    // line-height: 50px;
                }

                .xe-list-board-list__writer {
                    flex: 0 0 130px;
                    text-align: left;

                    > a {
                        position:absolute;
                        display: flex;
                        align-items: center;
                        height: 50px; 
                    }

                    .xe-list-board-list__display_name {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        max-width: 100px; 
                        overflow: hidden;
                    }

                    .xe-list-board-list__user-image {
                        width: 28px;
                        height: 28px;
                        background-size: 25px;;
                        background: url(../img/defalut_profile.jpg) no-repeat 0% 50%;
                        border-radius: 50px;
                        float: left;
                        margin-right: 8px;
                        text-decoration: none;
                        color: #767676;
                        background-size: cover;
                        margin: 11px 10px 11px 0;
                    }

                    .xe-list-board-list__display_name {
                        display: block;
                    }
                }
                .xe-list-board-list__created_at {
                    flex: 0 0 150px;
                    max-width: 150px;
                    color: #767676;
                    justify-content: center;
                }
                .xe-list-board-list__updated_at {
                    flex: 0 0 150px;
                    max-width: 150px;
                    color: #767676;
                    justify-content: center;
                }
                .xe-list-board-list__assent_count {
                    flex: 0 0 80px;
                    max-width: 80px;
                    color: #767676;
                    justify-content: center;
                }
                .xe-list-board-list__dissent_count {
                    flex: 0 0 80px;
                    max-width: 80px;
                    color: #767676;
                    justify-content: center;
                }
                .xe-list-board-list__read_count {
                    flex: 0 0 100px;
                    max-width: 100px;
                    color: #767676;
                    justify-content: center;
                }
                    
                .xe-list-board-list__title {
                    flex: 1;
                    flex-basis: 75%;
                    min-width: 20%;
                    text-align: left;
                    padding-right: 10px;
                    margin: 0;
                    align-items: flex-start;
                    
                    .xe-list-board-list__title-link {
                        text-decoration: none;
                        color: #141414;
                        display: flex;
                        margin: 0;
                        width: 100%;

                        .xe-list-board-list__subjec-secret {
                            // line-height: 50px;
                            height: 50px;
                            margin-right: 5px;
                        }
                        > span {
                            display: flex;
                            align-items: center;
                        }

                        .xe-list-board-list__title-text {
                            // line-height: 50px;
                            height: 50px;
                            margin-right: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            > span {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                
                            }
                        }

                        .xe-list-board-list__title-icon {
                            display: inline-block;
                            // line-height: 50px;
                            height: 50px;
                            display: flex;

                            .xe-list-board-list__title-new {
                                margin:  0;
                            }
                        }
                    }

                    .xe-list-board-list__notice--box-form {
                        color:#fff;
                        // line-height: 50px;
                        height: 50px;
                        margin-right: 10px;
                        
                        .xe-list-board-list__notice--box-form-bg {
                            background: #2684ff;
                            padding: 5px 10px;
                            border-radius: 4px;
                        }
                    }

                }

                .xe-list-board-list__dynamic-field {
                    flex: 0 0 150px;
                    max-width: 150px;
                }
            }
        }
    }
    .xe-list-board-list--header {
        height: 50px;
        .xe-list-board-list__favorite-link {
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            
            .bookmark {
                width: 18px;
                height: 18px;
                background: url('../img/bookmark.svg') no-repeat center center;
                display: inline-block;
                position: absolute;
                top: 2px;
                left: 0;
            }
    
            &.on {
                .bookmark {
                  width: 18px;
                  height: 18px;
                  background: url('../img/bookmark-color.svg') no-repeat center center !important;
                  display: inline-block;
                }
            }
        }
    }
        .xe-list-board-list__favorite .xe-list-board-list__favorite-link {
            position: relative;
            display: inline-block;
            width: 18px;
            height: 18px;
            
            .bookmark {
                width: 18px;
                height: 18px;
                background: url('../img/bookmark.svg') no-repeat center center;
                display: inline-block;
                position: absolute;
                top: 2px;
                left: 0;
            }
    
            &.on {
                .bookmark {
                  width: 18px;
                  height: 18px;
                  background: url('../img/bookmark-color.svg') no-repeat center center !important;
                  display: inline-block;
                }
            }
        }
}





@media (max-width: 768px) {

}
  
  
  
  
  