/* footer */
.xe-list-board-footer {
    .xe-list-board--button-box {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;

        &:after {
            content: '';
            display: block;
            clear: both;
        }

        .xe-list-board__btn {
            color: #141414;
            display: inline-block;
            border: 1px solid #e0e0e0;
            text-decoration: none;
            margin: 10px 0;
            transition: all 0.2s;
            width: 80px;

            &:hover {
                background: #f4f5f7;
            }

            &.xe-list-board__btn-primary {
                background: #f4f5f7;
                width: 65px;
                border: 0;

                &:hover {
                    background: #ebecf0;
                }
            }

            &.active {
                background: #2684ff;
                border-color: #2684ff;
                color: #fff;
            }
        }

        .xe-list-board--btn-left-box {
            flex: 1;
        }
    }
}

@media(min-width:576px){
    .xe-list-board-footer {
        .xe-list-board--button-box {
            .xe-list-board__btn {
            }
        }
    }
}