.xe-list-blog-board-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
<<<<<<< HEAD

    .xe-list-blog-board__text {
        font-size: 15px;
        line-height: 24px;
        letter-spacing: -0.4px;
        color: #484848;
    }
=======
>>>>>>> 3761ad47eec4581f10c9f1c019d684a5f9f491bd
}