.xe-list-board-body {
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .new-select {
    .xe-dropdown__button {

      .xe-dropdown--menu .xe-dropdown--menu-item:hover:after,
      .xe-dropdown--menu .xe-dropdown--menu-item.on:after {
        left: -20px !important;
      }
    }

    .xe-dropdown--menu-item {
      padding: 5px 10px;

      >.xe-dropdown--menu-item-link:focus:after,
      >.xe-dropdown--menu-item-link:hover:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        background: #f5f5f5;
        padding-right: 20px;
        left: -20px !important;
        z-index: -1;
      }
    }
  }

  .xe-list-board-body--header {
    .xe-list-board-body--header-item {
      padding: 0;
    }

    .xe-list-board-body--header-title {

      .current-slug {
        padding: 10px;
        display: inline-block;
        word-break: break-all;
        word-wrap: break-word;
      }

      .xe-list-board-body--header-title-input {
        width: 100%;
        border: none;
        padding: 15px;
        font-size: 17px;
        border-bottom: 1px solid #e0e0e0;
        height: 56px;

        &::placeholder {
          font-size: 17px !important;
          color: #aeaeae;
        }
      }
    }

    .xe-list-board-body--header-select {
      min-height: 55px;
      font-size: 14px;
      color: #141414;

      .new-select {

        .new-select .xe-dropdown__button .xe-dropdown--menu .xe-dropdown--menu-item:hover:after {
          left: -20px !important;
        }

        .xe-dropdown__button-text {
          width: 100%;
          display: inline-block;
          text-align: left;
          min-height: 55px;
          padding: 0 20px;

          &:after {
            position: absolute;
            right: 10px;
          }
        }

        .xe-dropdown--menu {
          width: 100%;
          padding: 15px;
          right: 0;
        }
      }
    }
  }

  .xe-list-board-body--footer {
    .xe-list-board-body--footer-title {
      display: none;
    }

    .xe-list-board-body--footer-attachment {
      border-bottom: 1px solid #e0e0e0;

      .xe-list-board-body--footer-file-attach {
        padding: 10px 15px;

        .xe-list-board-body--footer-file-attachtext {
          display: none;
        }

        .xe-list-board-body--footer-file-btn {
          cursor: pointer;
          margin: 0 30px 0 0;
          font-weight: 500;
          padding: 10px;
          transition: all 0.2s;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            background: #dde9fc;
            border-radius: 3px;
          }
        }
      }
    }

    .xe-list-board-body--footer-tag {
      .xe-list-board-body--footer-tag-input {
        width: 100%;
        border: none;
        padding: 15px;
        border-bottom: 1px solid #e0e0e0;

        &::placeholder {
          font-size: 14px;
          color: #9c9c9c;
        }
      }
    }

    .xe-list-board-body--footer-nonmember {
      .xe-list-board-body--footer-nonmember-input {
        width: 100%;
        padding: 15px;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        background: #fff;
      }
    }

    .xe-list-board-body--footer-check-box {
      .xe-list-board-body--footer-check-list {
        margin: 20px 0;
        padding: 0;
        list-style-type: none;
        display: flex;

        .xe-list-board-body--footer-check-item {
          margin-right: 10px;
          position: relative;

          &:last-child {
            margin-right: 0;
          }

          .xe-list-board-body--footer-check-item-text {
            font-size: 14px;
            color: #484848;
            letter-spacing: -0.19px;
          }

          input[type="checkbox"] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;

            &+label {
              display: inline-block;
              position: relative;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              font-weight: 400;
            }

            &+label:before {
              content: ' ';
              display: inline-block;
              width: 18px;
              height: 18px;
              line-height: 18px;
              margin: -2px 8px 0 0;
              text-align: center;
              vertical-align: middle;
              border: 1px solid #e0e0e0;
            }

            &:checked+label:before {
              content: url('../img/check.png');
              color: #99a1a7;
              text-shadow: 1px 1px #fff;
              border-color: #adb8c0;
            }
          }
        }
      }
    }
  }

  .xe-list-board-body--footer {
    .captcha_container {
      margin: 20px 0 50px 0;
    }

    .xe-list-board-body--footer-additional-box {
      .xe-list-board-body--footer-check-list {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .xe-list-board-body--footer-button-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .xe-list-board-body--footer-button {
        width: 120px;
        height: 44px;
        background: #fff;
        border: 1px solid #c0c0c0;
        color: #484848;
        font-size: 15px;
        line-height: 26px;
        letter-spacing: -0.19px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        

        &:first-child {
          position: relative;

          .xe-list-board-body--footer-button__transient {
            width: 100%;
            display: flex;
            text-align: center;

            a {
              text-decoration: none;
              color: #141414;
              display: inline-block;
              height: 42px;
            }

            .xe-list-board-body--footer-button__draftsave {
              flex: 1;
              border-right: 1px solid #c0c0c0;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .xe-list-board-body--footer-button__draftload-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 5px;

            }
          }

          .xe-list-board-body--footer-button__transient-content {
            display: none;
            position: absolute;
            top: 41px;
            width: 100%;
            background-color: #f1f1f1;
            z-index: 1;

            .transient-content-edit {
              top: 0;
            }

            &.open {
              display: block;
            }

            a {
              color: black;
              width: 100%;
              text-decoration: none;
              display: block;
              line-height: 42px;
              text-align: center;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &.xe-list-board-body--footer-button__register {
          background: #141414;
          color: #fff;
          border: none;
        }
      }
    }
  }
}


@media (max-width:500px) {
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button {
    flex-basis: 100%;
    margin-right: 0;
    border: 0;
    border-top: 1px solid #c0c0c0;
  }

  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-additional-box .xe-list-board-body--footer-check-list {
    padding: 10px !important;
  }
}

@media (max-width: 767px) {
}

@media (min-width:768px) {
    .xe-list-board-body {
        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .xe-list-board-body--header {
          margin-bottom: 30px;
          border-bottom: none;
        }

        .new-select {
        border-bottom: 1px solid #e0e0e0;
        }
        .xe-list-board-body--footer {
            .xe-list-board-body--footer-button-box {
                justify-content: flex-end;

                .xe-list-board-body--footer-button {
                    font-size: 16px;
                    width: 140px;

                    .xe-list-board-body--footer-button__transient-content {
                        top: 45px;
                    }

                    &.xe-list-board-body--footer-button__register {
                        background: #141414;
                        color: #fff;
                        border: none;
                    }
                }
            }
        }
    }

    .xe-list-board-body--editor {
        margin-bottom: 25px;
    }

    .xe-list-board-body--tag {
        margin-bottom: 35px;
    }

    .xe-list-board-body--footer {
        .xe-list-board-body--footer-title {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 40px;
            color: #484848;
            letter-spacing: -0.18px;
            margin-bottom: 0;
            font-weight: 700;
        }

        .xe-list-board-body--footer-nonmember {
            display: flex;
            margin-bottom: 25px;

            .xe-list-board-body--footer-nonmember-input {
                width: 33%;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .xe-list-board-body--footer-check-box {
            .xe-list-board-body--footer-check-list {
                margin: 0 0 25px 0;

                .xe-list-board-body--footer-check-item {
                    margin-right: 25px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) {
  .pdl20 {
    padding-left: 20px !important;
  }

  .new-select .xe-dropdown__button .xe-dropdown--menu .xe-dropdown--menu-item:hover:after {
    width: 2000px !important;
    left: -600px !important;
  }

  .new-select .xe-dropdown__button .xe-dropdown--menu .xe-dropdown--menu-item.on:after {
    width: 2000px !important;
    left: -600px !important;
  }

  .xe-list-board-body {
    .xe-list-board-body--header {
      .xe-list-board-body--header-title {
        border-bottom: 0;

        .xe-list-board-body--header-title-input {
          border-bottom: 1px solid #e0e0e0;
          padding: 15px 0;

        }
      }

      .xe-list-board-body--header-select {
        .new-select {
          .xe-dropdown__button-text {
            padding: 15px 0;
          }

          .xe-dropdown--menu {
            padding: 15px 0;
          }
        }
      }
    }
  }
}