.xe-list-board-body {
  margin: 30px 0 40px 0;

  .xe-list-board-body__title {
    .xe-list-board-body__title-category {
      font-size: 13px;
      line-height: 24px;
      letter-spacing: -0.4px;
      color: #767676;
    }

    .xe-list-board-body__title-text {
      font-size: 21px;
      line-height: 44px;
      letter-spacing: -0.4px;
      color: #141414;
      margin-bottom: 15px;
    }

    .xe-list-board-body__title-post-info {
      display: flex;
      border-bottom: 1px solid #ececec;
      padding-bottom: 25px;
      margin-bottom: 25px;

      .xe-list-board-body--left-box {
        flex: 1;

        .xe-list-board-list__writer {
          a {
            color: #141414;
            text-decoration: none;
          }

          .xe-list-board-list__user-image {
            margin: 6px 10px 6px 0;
          }

          .xe-list-board-list__display_name {
            font-size: 13px;
            line-height: 16px;
          }
        }
      }

      .xe-list-board-body--right-box {
        flex-basis: 25%;
        text-align: right;

        .xe-list-board-list__icon-box {
          font-size: 22px;
          line-height: 41px;

          .xe-list-board-list__icon {
            vertical-align: middle;
          }

          .xe-dropdown {
            display: inline-block;
            font-size: 22px;
          }
        }
      }
    }
  }

  .xe-list-board-body__article {
    .xe-list-board-body__article-text {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: -0.2px;
      color: #141414;
    }

    figure {
      margin: 40px 0;

      img {
        width: 100%;
      }

      figcaption {
        margin: 10px 0;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: -0.16px;
        color: #767676;
      }
    }
  }

  .xe-list-board-body__article-tag {
    margin: 70px 0 60px 0;

    .xe-list-board-body__article-tag-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
    }

    .xe-list-board-body__article-tag-list-item {
      border: 1px solid #e0e0e0;
      background: #fafafa;
      margin-right: 10px;
      font-size: 15px;
      letter-spacing: -0.43px;
      color: #141414;
      margin-bottom: 10px;

      .xe-list-board-body__link {
        display: inline-block;
        padding: 10px 15px;
      }
    }

    .xe-list-board-body__article-tag-list-item:last-child {
      margin-right: 0;
    }
  }

  .xe-list-board-body__more-info {
    display: flex;
    margin-bottom: 25px;

    .xe-list-board-body--left-box {
      flex: 1;

      .xe-list-board-body__like-box {
        border: 1px solid #e0e0e0;
        padding: 10px 0;
        max-width: 141px;
        display: flex;

        .xe-list-board-body__like-box-item {
          border-right: 1px solid #e0e0e0;
          padding: 0 20px;
          text-align: center;
        }

        .xe-list-board-body__like-box-item:last-child {
          border-right: none;
        }
      }
    }

    .xe-list-board-body--right-box {
      display: flex;
      line-height: 43px;
      text-align: right;
      letter-spacing: -0.2px;
      color: #141414;

      .xe-list-board-body__edit-box {
        font-size: 14px;
        margin-right: 25px;

        .xe-list-board-body__edit-item {

          &:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 10px;
            background: #e0e0e0;
            margin-right: 5px;
            margin-left: 7px;
          }

          &:last-child:after {
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            background: transparent;
            margin-right: 0;
            margin-left: 0;
          }
        }
      }

      .xe-list-board-list__icon-box {
        font-size: 18px;

          
        .xe-dropdown {
          display: inline-block;
          font-size: 18px;
          line-height: 43px;
        }

        .xe-list-board-list__icon {
          margin-right: 5px;
          vertical-align: middle;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  .xe-list-board-body__more-post {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 30px 20px;

    .xe-list-board-body__more-post-title {
      font-size: 16px;
      letter-spacing: -0.23px;
      color: #141414;
      margin-bottom: 15px;

      .xe-list-board-body__more-post-title-category {
        font-weight: 700;
      }
    }

    .xe-list-board-body__more-post-list {
      margin: 0;
      padding: 0;
      list-style-type: none;

      .xe-list-board-body__more-post-list-item {
        color: #9c9c9c;
        display: flex;
        line-height: 27px;

        &:hover {
          color: #141414;
        }

        .xe-list-board-body__more-post-list-item-link {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: #9c9c9c;
          flex: 1;

          &:hover {
            color: #141414;
          }
        }

        .xe-list-board-body__more-post-list-item-date {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .xe-list-board-body {
    margin: 60px 0 80px 0;

    .xe-list-board-body__title {
      .xe-list-board-body__title-category {
        font-size: 13px;
      }

      .xe-list-board-body__title-text {
        font-size: 30px;
        margin-bottom: 25px;
      }

      .xe-list-board-body__title-post-info {
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
    }

    .xe-list-board-body__article {
      .xe-list-board-body__article-text {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.2px;
        color: #141414;
      }

      figure {
        margin: 50px 0;

        figcaption {
          font-size: 14px;
        }
      }
    }

    .xe-list-board-body__article-tag {
      margin: 100px 0 80px 0;
    }


    .xe-list-board-body__more-post {
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
      padding: 40px;

      .xe-list-board-body__more-post-title {
        font-size: 16px;
        letter-spacing: -0.23px;
        color: #141414;
        margin-bottom: 15px;
      }

      .xe-list-board-body__more-post-list {
        .xe-list-board-body__more-post-list-item {
          .xe-list-board-body__more-post-list-item-date {
            display: block;
            margin-left: 10px;
          }
        }
      }
    }
  }
}