/* 게시판 */
.xe-list-board-body {
    .xe-list-board-list {
        border-top: 1px solid #141414;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .xe-hidden-mobile {
            display: none;
        }
        
        .xe-list-board-list--header {
            display: none;
            border-bottom: 1px solid #e0e0e0;
        }


        .xe-list-board-list--item {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding: 10px 0;
            overflow: hidden;
            border-bottom: 1px solid #e0e0e0;

            > div {
                flex-shrink: 0;

                &:after {
                    content: '·';
                    margin: 0 5px;
                }

                &:nth-last-child(2):after {
                    content: '';
                    margin: 0;
                }
            }

            .xe-list-board-list__mobile-style {
                font-size: 12px;
                color: #9c9c9c;
            }

            .xe-list-board-list__category {
                font-size: 13px;
                line-height: 24px;
                letter-spacing: -0.2px;
                color: #767676;
                margin-bottom: 5px;
            }
            
            .xe-list-board-list__notice--box-form {
                color:#fff;
                margin-right: 10px;
                
                .xe-list-board-list__notice--box-form-bg {
                    background: #2684ff;
                    padding: 0 10px;
                }
            }

            .xe-list-board-list__category,
            .xe-list-board-list__subject {
                &:after {
                    content: '';
                    margin: 0;
                }
            }

            .xe-list-board-list__subject {
                flex-basis: 100%;
                margin-bottom: 10px;

                .xe-list-board-list__subject-link {
                    text-decoration: none;
                    color: #141414;
                    size: 15px;
                    line-height: 22px;
                    letter-spacing: -0.4px;
                    margin-bottom: 15px;

                    .xe-list-board-list__subject-icon {
                        display: inline-block;
                    }
                }
            }

            .xe-list-board-list__writer {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:after {
                    content: '';
                    margin: 0 10px 0 0;
                }
                a {
                    color: #141414 ;
                    text-decoration: none;

                    .xe-list-board-list__nickname {
                        color: #141414;

                    }
                }

            }

            .xe-list-board-list__view {
                // flex-basis: 10%;

            }

            .xe-list-board-list__vote-count {
                display: flex;
                justify-content: flex-end;
                flex-basis: 100%;
                margin-top: 10px;
             

                &:after {
                    content: '';
                    margin: 0px;
                }

                div:first-child {
                    margin-right: 15px;
                }

                div:last-child {
                    margin-right: 0;
                }
            }

            .xe-list-board-list__dynamic-field {
                .xe-list-board-list__dynamic-field-title {
                    font-weight: 700;
                }
            }
        }
    }
}

@media (min-width:768px) {

}

@media (min-width:992px) {
    .xe-list-board-body{
        .xe-list-board-list {
            overflow-x: auto;

            .xe-hidden-pc {
                display: none !important;
            }

            .xe-hidden-mobile {
                display: inline-block;
            }

            .xe-list-board-list--header {
                display: flex;
                padding: 10px 0;

                div {
                    text-align: center;
                }

                .xe-list-board-list__favorite {
                    flex: 0 0 30px;
                    max-width: 30px;
                }
                .xe-list-board-list__category {
                    flex: 0 0 100px;
                    max-width: 100px;
                    text-align: left;
                }
                .xe-list-board-list__writer {
                    flex: 0 0 150px;
                    max-width: 150px;
                    text-align: left;
                }
                .xe-list-board-list__created_date {
                    flex: 0 0 100px;
                    max-width: 100px;
                }
                .xe-list-board-list__updated_date {
                    flex: 0 0 100px;
                    max-width: 100px;
                }
                .xe-list-board-list__assent-count {
                    flex: 0 0 80px;
                    max-width: 80px;
                }
                .xe-list-board-list__dissent-count {
                    flex: 0 0 80px;
                    max-width: 80px;
                }
                .xe-list-board-list__view {
                    flex: 0 0 50px;
                    max-width: 50px;
                }

                .xe-list-board-list__subject {
                    flex: 1;
                    min-width: 20%;
                    text-align: left;
                }

                .xe-list-board-list__dynamic-field {
                    flex: 0 0 100px;
                    max-width: 100px;
                }            
            }

            .xe-list-board-list--item {
                display: flex;
                flex-wrap: nowrap;

                > div {
                    flex-wrap: nowrap;
                    text-align: center;
                    flex-shrink: 1;
                    flex-grow: 1;
                    flex-basis: 10%;
                    line-height: 50px;
                    
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:after {
                        content: '';
                        margin: 0;
                    }
                }

                .xe-list-board-list__mobile-style {
                    font-size: 14px;
                    color: #141414;
                }

                &:hover {
                    background:#fafafa;
                }

                &.xe-list-board-list--item-notice:hover {
                    background: #f3f9fc;
                }

                .xe-list-board-list__favorite {
                    flex: 0 0 30px;
                    max-width: 30px;
                }
                .xe-list-board-list__category {
                    flex: 0 0 100px;
                    max-width: 100px;
                    text-align: left;
                    margin-bottom: 0;
                    
                    font-size: 14px;
                    color: #141414;
                    line-height: 50px;
                }
                .xe-list-board-list__writer {
                    flex: 0 0 150px;
                    max-width: 150px; 
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .xe-list-board-list__user-image {
                        width: 28px;
                        height: 28px;
                        background: url(../img/defalut_profile.jpg) no-repeat 0% 50%;
                        border-radius: 50px;
                        float: left;
                        margin-right: 8px;
                        text-decoration: none;
                        color: #767676;
                        background-size: cover;
                        margin: 11px 0;
                    }

                    .xe-list-board-list__nickname {
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
                .xe-list-board-list__created_date {
                    flex: 0 0 100px;
                    max-width: 100px;
                }
                .xe-list-board-list__updated_date {
                    flex: 0 0 100px;
                    max-width: 100px;
                }
                .xe-list-board-list__assent-count {
                    flex: 0 0 80px;
                    max-width: 80px;
                }
                .xe-list-board-list__dissent-count {
                    flex: 0 0 80px;
                    max-width: 80px;
                }
                .xe-list-board-list__view {
                    flex: 0 0 50px;
                    max-width: 50px;
                }
                    
                .xe-list-board-list__subject {
                    flex: 1;
                    flex-basis: 75%;
                    min-width: 20%;
                    text-align: left;
                    padding-right: 10px;
                    margin: 0;

                    .xe-list-board-list__subject-link {
                        text-decoration: none;
                        color: #141414;
                        display: flex;
                        margin: 0;

                        .xe-list-board-list__subjec-secret {
                            line-height: 50px;
                            margin-right: 5px;
                        }

                        .xe-list-board-list__subject-text {
                            line-height: 50px;
                            margin-right: 5px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        .xe-list-board-list__subject-icon {
                            display: inline-block;
                            line-height: 50px;
                            display: flex;

                            .xe-list-board-list__subject-new {
                                margin: 17px 0 0 0;
                            }
                        }
                    }

                    .xe-list-board-list__notice--box-form {
                        color:#fff;
                        line-height: 50px;
                        margin-right: 10px;
                        
                        .xe-list-board-list__notice--box-form-bg {
                            background: #2684ff;
                            padding: 0 10px;
                        }
                    }

                }

                .xe-list-board-list__dynamic-field {
                    flex: 0 0 100px;
                    max-width: 100px;
                }
            }
        }
    }
}
