@import 'xe-board-variables';
@import 'xe-board-mixin';

.xf-board-list {
  display: flex;
  flex-wrap: wrap;

  .xf-board-item {
    width: 100%;
    margin-top: 24px;

    .xf-board-item-inner {
      display: flex;

      @include thumbnailImg($paddingTop: 75%);

      .xf-thumbnail-box {
        width: 30%;
        margin-right: 15px;
        display: inline-block;

        .xf-board-item__link {
          width: 100%;

          .xf-thumbnail-img {
            padding-right: 1px;
          }
        }
      }

      .xf-detail-box {
        letter-spacing: -0.2px;
        width: 70%;

        .xf-board-item__link {
          width: 100%;

          .xf-post-contents {
            .xf-post-category {
              display: none;
            }

            .xf-post-title {
              font-size: 16px;
              max-height: 52px;
            }
          }
        }

        .xf-post-info {
          display: flex;

          .xf-info-item {
            margin-right: 4px;

            .xf-info-item__text {
              font-size: 12px;
              color: #9c9c9c;
            }
          }

          @include detailInfo;
        }
      }
    }
  }
}

.xf-board-management-btn-box {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .xf-board-list {
    .xf-board-item {
      &:first-child {
        margin-top: 0;
      }

      .xf-board-item-inner {
        .xf-detail-box {
          .xf-post-contents {
            .xf-post-text {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .xf-board-list {
    .xf-board-item {
      margin-top: 32px;

      .xf-board-item-inner {
        .xf-thumbnail-box {
          margin-right: 24px;

          .xf-board-item__link {
            .xf-thumbnail-img {
              padding-top: 56.25%;
            }
          }
        }

        .xf-detail-box {
          .xf-post-contents {
            .xf-post-category {
              display: block;
            }

            .xf-post-title {
              font-size: 17px;
              line-height: 26px;
              letter-spacing: -0.2px;
              max-height: 52px;
            }

            .xf-post-text {
              max-height: 44px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .xf-board-list {
    .xf-board-item {
      margin-top: 42px;

      &:first-child {
        margin-top: 32px;
      }

      .xf-board-item-inner {
        .xf-thumbnail-box {
          margin-right: 40px;
        }

        .xf-detail-box {
          .xf-post-contents {
            .xf-post-title {
              font-size: 24px;
              line-height: 34px;
              max-height: 68px;
            }
          }
        }
      }
    }
  }
}
