.xf-board-list {
  display: flex;
  flex-wrap: wrap;

  .xf-board-item {
    width: 100%;
    margin-top: 24px;

    .xf-board-item-inner {
      display: flex;

      .xf-thumbnail-box {
        position: relative;
        width: 30%;
        margin-right: 15px;
        display: inline-block;

        .xf-board-item__link {
          width: 100%;
          font-size: 0;

          .xf-thumbnail-img {
            background-image: url("/assets/core/common/img/default_image_1200x800.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            padding-top: 75%;
            padding-right: 1px;
          }
        }
      }

      .xf-detail-box {
        letter-spacing: -0.2px;
        width: 70%;

        .xf-post-contents {
          .xf-post-category {
            display: none;
          }

          .xf-post-title {
            font-size: 16px;
            max-height: 52px;
          }
        }

        .xf-post-info {
          display: flex;

          .xf-detail-info {
            flex: 1;

            .xf-item__writer-link {
              display: flex;

              .xf-writer__nickname {
                word-break: break-all;
              }
            }

            .xf-info-list {
              display: flex;
              flex-wrap: wrap;

              .xf-info-item {
                margin-right: 4px;
                line-height: 1;

                //&:not(:last-child):after {
                //  content: '';
                //  display: inline-block;
                //  height: 8px;
                //  width: 1px;
                //  background-color: #9c9c9c;
                //}

                .xf-info-item__text {
                  font-size: 12px;
                  color: #9c9c9c;
                }
              }
            }
          }
        }
      }
    }
  }
}

.xf-board-management-btn-box {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .xf-board-list {
    .xf-board-item {
      .xf-board-item-inner {
        .xf-detail-box {
          .xf-post-contents {
            .xf-post-text {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .xf-board-list {
    .xf-board-item {
      margin-top: 32px;

      .xf-board-item-inner {
        .xf-thumbnail-box {
          margin-right: 24px;

          .xf-board-item__link {
            .xf-thumbnail-img {
              padding-top: 56.25%;
            }
          }
        }

        .xf-detail-box {
          .xf-post-contents {
            .xf-post-category {
              display: block;
            }

            .xf-post-title {
              font-size: 17px;
              line-height: 26px;
              letter-spacing: -0.2px;
              max-height: 52px;
            }

            .xf-post-text {
              max-height: 44px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .xf-board-list {
    .xf-board-item {
      margin-top: 42px;

      &:first-child {
        margin-top: 32px;
      }

      .xf-board-item-inner {
        .xf-thumbnail-box {
          margin-right: 40px;
        }

        .xf-detail-box {
          .xf-post-contents {
            .xf-post-title {
              font-size: 24px;
              line-height: 34px;
              max-height: 68px;
            }
          }
        }
      }
    }
  }
}
