@import 'xe-board-variables';

.xf-board-body {
  .xf-board-list {
    display: flex;
    flex-wrap: wrap;

    .xf-board-item {
      .xf-board-item-inner {
        .xf-board-item__link {
          display: inline-block;
          width: 100%;

          .xf-post-contents {
            .xf-post-title {
              max-height: 52px;
            }

            .xf-post-text {
              max-height: 44px;
            }
          }
        }

        .xf-thumbnail-box {
          border: 1px solid $base-border-color;
          position: relative;

          .xf-thumbnail-img {
            background-image: url("/assets/core/common/img/default_image_1200x800.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            padding-top: 56.25%;
          }
        }

        .xf-detail-box {
          letter-spacing: -0.2px;

          .xf-post-info {
            display: flex;

            .xf-detail-info {
              flex: 1;

              .xf-item__writer-link {
                display: flex;

                .xf-writer__nickname {
                  word-break: break-all;
                }
              }

              .xf-info-list {
                display: flex;
                flex-wrap: wrap;

                .xf-info-item {
                  line-height: 1.2;

                  .xf-info-item__text {
                    font-size: 12px;
                    color: #9c9c9c;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.xf-board-management-btn-box {
  margin-top: 20px;
}

@media (max-width:576px) {
  .xf-board-body {
    .xf-board-list {
      .xf-board-item {
        .xf-board-item-inner {
          .xf-detail-box {
            .xf-post-info {
              flex-wrap: wrap;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .xf-board-body {
    overflow: hidden;

    .xf-board-list {
      .xf-board-item {
        width: 100%;
        //flex-basis: 100%;
        margin-top: 32px;

        &:first-child {
          margin-top: 20px;
        }

        .xf-board-item-inner {
          .xf-board-item__link {
            .xf-detail-box {
              .xf-post-contents {
                .xf-post-title {
                  font-size: 17px;
                  line-height: 26px;
                  max-height: 52px;
                }
              }
            }
          }
        }
      }

      &.xf-col2 {
        margin: 0 -7px;

        .xf-board-item {
          width: 50%;
          //flex-basis: 50%;
          //-ms-flex-preferred-size: 47.7%;
          padding: 0 7px;


          &:nth-child(1),
          &:nth-child(2) {
            margin-top: 0px;
          }

          .xf-board-item-inner {
            .xf-board-item__link {
              .xf-thumbnail-box {
                .xf-thumbnail-img {
                  padding-top: 75%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .xf-board-body {
    overflow: hidden;

    .xf-board-list {
      .xf-board-item {
        width: 50%;
        margin-top: 32px;

        &:nth-child(2) {
          margin-top: 32px;
        }
      }

      &.xf-col2 {
        margin: 0 -7px;

        .xf-board-item {
          width: 50%;
          padding: 0 7px;

          &:nth-child(2) {
            margin-top: 32px;
          }

          .xf-board-item-inner {
            .xf-board-item__link {
              .xf-thumbnail-box {
                .xf-thumbnail-img {
                  padding-top: 56.25%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .xf-board-body {
    overflow: hidden;

    .xf-board-list {
      margin: 0 -17px;

      .xf-board-item {
        width: 33.33%;
        padding: 0 17px;
      }

      &.xf-col2 {
        margin: 0 -17px;

        .xf-board-item {
          width: 33.33%;
          padding: 0 17px;
        }
      }
    }
  }
}
