@charset "utf-8";

/* Board */

/*reset*/
.read_header h1 a,
.bd_function .bd_like_num,
.temp_save .temp_save_num,
.board .more_info .mb_autohr,
.write_footer .write_form_btn > button,
.temp_save_list .temp_title,
.board .ly_popup li > a,
.board_header .bd_btn_detail,
.xe-modal .xe-list-group a{
  text-decoration: none;
}

.temp_save_list > ul,
.bd_function .bd_like_more ul,
.bd_like_more_text,
.xe-modal .xe-list-group li .list-text > p,
.read_footer .bd_file_list > ul,
.board_list.blog .cont_area > p{
  margin:0;
  padding:0;
}

.board {
  position: relative;
  line-height: 1.42857143;
}
.board img {
  vertical-align: top;
  border: 0;
}
.board caption,
.board legend {
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.board * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.board,
.board label,
.board table,
.board input,
  /*.board button,*/
.board textarea,
.board select {
  font-size: 13px;
  font-family: "Nanum Barun Gothic","나눔고딕",NanumGothic,"돋움",Dotum,Helvetica Neue,Helvetica,sans-serif;
  color: #6a6e79;
}
.board select {
  margin: 0;
}
/* .board label {
  display: table-cell;
  margin: 0;
  font-weight: normal;
} */
.board .xe-label{
  vertical-align: middle;
  display: inline-block;
  margin-right: 20px;
}
.board textarea {
  resize: vertical;
}
.board .chk_mng {
  vertical-align: middle;
}
.board .bd_hidden {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}
.board .pc_hidden {
  display: none;
}
.board .ly_popup {
  display: none;
  position: absolute;
  z-index: 25;
}
.board .ly_popup ul {
  min-width: 140px;
  padding: 8px 0;
  border: 1px solid #bebebe;
  border-radius: 4px;
  background-color: #fff;
  list-style: none;
}
.board .ly_popup li {
  height: 30px;
}
.board .ly_popup li > a {
  overflow: hidden;
  display: block;
  height: 100%;
  padding: 0 16px;
  font-size: 14px;
  line-height: 30px;
  color: #2c2e37;
}
.board .ly_popup li > a:hover {
  background-color: #f4f4f4;
}
.board .mb_autohr.on ~ .ly_popup {
  display: block;
}
.board .xe-form-control {

}
.board .xe-form-control:focus,
.board .xe-form-control:active {
  border-color: #2c8beb;
}
.board .bd_btn {
  display: inline-block;
  min-width: 120px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.board .bd_btn i {
  margin-right: 8px;
}
/*.board input[type=checkbox] {
  position: relative;
  top: 2px;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
}*/
.board .more_info .autohr_area {
  position: relative;
  margin-right: 0;
}
.board .more_info .autohr_area .ly_popup {
  left: 0;
}

/* Board Header */
.board_header {
  position: relative;
  zoom: 1;
  margin: 0 0 15px 0;
  font-size: 14px;
}
.board_header:after {
  content: "";
  display: block;
  clear: both;
}
.board_header .bd_select_area,
.board_header .xe-form-inline .xe-dropdown {
  position: relative;
  margin-right: 10px;
  min-width: 120px;
}
.bd_select {
  overflow: hidden;
  display: block;
  position: relative;
  height: 40px;
  padding: 0 40px 0 16px;
  border: 1px solid #ddd;
  background-color: #fff;
  line-height: 40px;
  color: #2c2e37;
  text-overflow: ellipsis;
  text-decoration: none;
}
.bd_select:hover,
.bd_select:focus {
  color: #2c2e37;
}
.bd_select:after {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-width: 5px 4px 0;
  border-style: solid;
  border-color: #2c2e37 transparent transparent;
  content: "";
}
.bd_select.on:after {
  border-width: 0 4px 5px;
  border-color: transparent transparent #2c2e37;
}
.bd_select.on ~ .bd_select_list {
  display: block;
}
.bd_select i,
.bd_select_list i {
  margin-right: 13px;
  font-size: 16px;
  line-height: 40px;
  vertical-align: middle;
}
.bd_select_list {
  display: none;
  position: absolute;
  top: 39px;
  z-index: 20;
}
.bd_select_list ul {
  min-width: 120px;
  max-width: 160px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
}
.bd_select_list li > a {
  overflow: hidden;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 16px;
  color: #2c2e37;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
}
.bd_select_list li > a:hover {
  background-color: #f4f4f4;
}
.board_header .bd_manage_area {
  float: left;
  position: relative;
  margin-right: 53px;
  /*line-height: 40px;*/
}
.board_header .bd_manage_area:after {
  position: absolute;
  top: 50%;
  right: -23px;
  width: 1px;
  height: 16px;
  margin-top: -8px;
  background-color: #ddd;
  content: "";
}
.board_header .bd_manage_area .btn_mng {
  display: block;
  position: relative;
  padding: 0 7px;
  width: 34px;
  height: 40px;
  border: 0;
  font-size: 20px;
  color: #bebebe;
  line-height: 40px;
}
.board_header .bd_manage_area .btn_mng.on {
  color: #399cf7;
}
.board_header .bd_manage_area .btn_mng i {
  /* line-height: 40px; */
  margin-right: 0;
  font-size: 20px;
}
.board_header .bd_btn_area {
  float: right;
  height: 40px;
}
.board_header .bd_btn_area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.board_header .bd_btn_area li {
  float: left;
  margin-left: 26px;
  /* padding: 11px 0 0; */
}
.board_header .bd_btn_area li a {
  display: block;
  color: #bebebe;
  text-decoration: none;
}
.board_header .bd_btn_area .on,
.board_header .bd_btn_area li a:hover {
  color: #399cf7;
}
.board_header .bd_btn_area li a > i {
  font-size: 20px;
  line-height: 30px;
}
.board_header .bd_search_area {
  display: none;
  clear: both;
  background-color: #eee;
}
.board_header .bd_search_box {
  position: relative;
  padding: 0 90px 0 20px;
  border-radius: 4px;
}

.board_header .bd_search_area .xe-row,
.board_header .bd_manage_detail .xe-row,
.board_header .bd_search_area .xe-row .xe-form-group{
  margin-bottom:10px;
}

.board_header .bd_search_input {
  width: 100%;
  height: 60px;
  border: 0;
  line-height: 60px;
  font-size: 24px;
  background-color: transparent;
  outline: none;
}
.board_header .bd_btn_detail {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -10px;
  padding-right: 15px;
  color: #a0a0a0;
}

.board_header .bd_manage_detail .xe-row .xe-btn-link{
  color:#a0a0a0;
}

.board_header .bd_btn_detail.on{
  color:#399cf7
}
.board_header .bd_btn_detail:after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin: -2px 0 0 1px;
  border-width: 5px 4px 0;
  border-style: solid;
  border-color: #8e8d92 transparent transparent;
  content: "";
}
.board_header .bd_btn_detail.on:after {
  border-width: 0 4px 5px;
  border-color: transparent transparent #399cf7;
}
.board_header .bd_manage_detail {
  display: none;
  margin-bottom: 10px;
  padding: 20px 20px 10px 20px;
  clear: both;
  background-color: #eee;
}
.board_header .bd_manage_detail:after {
  display: block;
  clear: both;
  content: "";
}

.board_header .bd_search_detail .xe-control-label,
.board_header .bd_manage_detail .xe-control-label{
  color: #464646;
}

.board_header .bd_search_detail {
  display: none;
  border-top: 1px solid #dbdadf;
}

.board_header .bd_search_detail .bd_search_detail_option {
  padding: 20px 20px 10px 20px;
}

.board_header .bd_search_detail dt,
.board_header .bd_manage_detail dt {
  overflow: hidden;
  float: left;
  width: 124px;
  height: 40px;
  line-height: 40px;
  clear: both;
  color: #696e7a;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
}
.board_header .bd_search_detail dd,
.board_header .bd_manage_detail dd {
  float: left;
  position: relative;
  min-width: 120px;
  margin: 0 0 10px 0;
}
.board_header .bd_search_detail .bd_select,
.board_header .bd_manage_detail .bd_select,
.board_header .bd_man.board_header .bd_search_detailage_detail .bd_select {
  width: 120px;
}
.board_header .bd_manage_detail .bd_text {
  line-height: 40px;
  height: 40px;
}
.board_header .bd_manage_detail .bd_text > a {
  color: #a0a0a0;
}
.board_header .bd_manage_detail .bd_text > a:hover {
  color: #399cf7;
}
.board_header .bd_search_footer {
  overflow: hidden;
  padding: 20px;
  border-top: 1px solid #dbdadf;
}
.board_header .bd_search_footer > a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  border: 1px solid #bebebe;
  border-radius: 50%;
  background-color: #fff;
  color: #bebebe;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}
.board_header .bd_search_footer > a:first-child {
  margin-left: 0;
}
.board_header .bd_search_footer .bd_btn_search {
  border-color: #399cf7;
  background-color: #399cf7;
  color: #fff;
}
.board_header .bd_date_input {
  margin-top: 10px;
  color: #ddd;
}
.board_header .bd_date_input .xe-form-control {
  width: 120px;
  padding: 0;
  text-align: center;
}

/* Board List */
.board .board_list {
  position: relative;
  line-height: 1.5;
}
.board_list table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  border-top: 1px solid #f4f4f4;
  color: #2c2e37;
}
.board_list.ellipsis table {
  table-layout: fixed;
}
.board_list a {
  text-decoration: none;
  color: #2c2e37;
}

.board_list th {
  border: 0;
  border-bottom: 1px solid #f4f4f4;
  padding: 24px 0 25px;
  white-space: nowrap;
  font-size: 15px;
  text-align: center;
}
.board_list th input[type=checkbox] {
  position: relative;
  top: 2px;
}
.board_list th:first-childspan {
  border: 0;
}
.board_list th>span {
  display: block;
  padding: 0 15px;
  height: 20px;
  font-weight: normal;
}
.board_list td {
  border: 0;
  padding: 20px 10px 21px;
  white-space: nowrap;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
}

.board_list.ellipsis .check {width: 38px}
.board_list.ellipsis .favorite {width: 45px}
.board_list.ellipsis .category {width: 87px}
.board_list.ellipsis .title { width: auto}
.board_list.ellipsis .author {width: 73px}
.board_list.ellipsis .read_num {width: 73px}
.board_list.ellipsis .time {width: 81px}
.board_list.ellipsis  .title_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board_list tr:last-childtd {
  border: 0;
}
.board_list tbody tr.on,
.board_list tbody tr:hover {
  background-color: #f4f4f4;
}
.board_list tr.readed td,
.board_list tr.readed td > a,
.board_list tr.readed td .bd_ico_lock {
  color: #bebebe;
}
.board_list .favorite a {
  color: #bebebe;
}
.board_list .favorite a.on {
  color: #ffda00;
}
.board_list td.title {
  width: 100%;
  white-space: normal;
  text-align: left;
  word-break: break-all;
}

.board_list td.title .title_text{
  margin-right: 5px;
}

.board_list td.title .title_text:visited,
.board_list.v2 .title:visited{
  color: #bebebe;
}

.board_list tr.board-reply.depth-2 td.title{
  padding-left: 40px;
}
.board_list tr.board-reply.depth-3 td.title{
  padding-left: 60px;
}
.board_list tr.board-reply.depth-4 td.title{
  padding-left: 80px;
}
.board_list tr.board-reply.depth-5 td.title{
  padding-left: 100px;
}
.board_list tr.board-reply.depth-6 td.title{
  padding-left: 120px;
}
.board_list tr.board-reply .title .xe-badge.xe-visible-xs-inline-block{
  display: none !important;
}

.board_list td.author img {
  position: relative;
  top: -1px;
}
.board_list .title .category {
  display: none;
  margin-right: 5px;
  padding: 0 7px;
  border: 1px solid #399cf7;
  border-radius: 10px;
  color: #399cf7;
  font-size: 10px;
  vertical-align: top;
}
.board_list .notice .title .category {
  display: inline-block;
  border-color: #399cf7;
  background-color: #399cf7;
  color: #fff;
}
.board_list .no_article {
  height: 218px;
  font-size: 14px;
  color: #2c2e37;
  text-align: center;
}
.board_list .no_article:hover {
  background-color: #fff;
}
.board_list .no_article td {
  vertical-align: middle;
}
.board_list .no_article img {
  display: none;
  width: 100px;
  height: 100px;
}
.board_list .no_article.v2 {
  display: table;
  width: 100%;
}
.board_list .no_article.v2 > div {
  display: table-cell;
  vertical-align: middle;
}
.board_list .reply_num {
  margin-right: 2px;
  font-size: 13px;
  color: #399cf7;
}
.board_list .bd_ico_file {
  margin-right: 2px;
}
.board_list .bd_ico_file i{
  vertical-align: top;
  padding-top: 4px;
  color: #bebebe;
  font-size: 14px;
}
.board_list .bd_ico_new{
  margin-right: 2px;
}

.board_list .bd_ico_new i {
  vertical-align: top;
  padding-top: 2px;
  font-size: 15px;
  color: #399cf7;
}
.board_list .bd_ico_lock{
  margin-right: 6px;
  font-size: 15px;
  color: #2c2e37;
}

.board_list .bd_ico_reply{
  margin-right: 6px;
  font-size: 15px;
  color: #5EA2F7;
  vertical-align: middle;
}

.board .more_info {
  margin-top: 5px;
}
.board .more_info > span,
.board .more_info > a {
  display: inline-block;
  margin-right: 6px;
  color: #bebebe;
  font-size: 13px;
}
.board .more_info .mb_autohr {
  margin-right: 5px;
  color: #696e7a;
}
.board .more_info .mb_autohr:after {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 7px;
  font-size: 11px;
  content: "|";
  color: #ddd;
}

/* Board List - Gallery */
.board_list.v2 .category {
  display: inline-block;
  font-size: 15px;
  color: #399cf7;
  vertical-align: top;
}

.board_list.v2.blog .category {
  /*margin: 0 7px;*/
  vertical-align: middle;
}

/*.board_list.v2 .notice {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0 7px;
  border: 1px solid #399cf7;
  border-radius: 10px;
  background-color: #399cf7;
  color: #fff;
  font-size: 10px;
  vertical-align: middle;
}*/
.board_list.v2 .title {
  overflow: hidden;
  display: inline;
  max-height: 57px;
  margin-right: 5px;
  font-size: 19px;
  color: #2c2e37;
}
.board_list.v2 .notice ~ .category {
  position: relative;
  top: -2px;
}
.board_list.v2 .favorite {
  font-size: 14px;
}
.board_list.v2 .favorite.on {
  color: #ffda00;
}
.board_list.v2 .more_info {
  padding-top: 7px;
}
.board_list.v2 .more_info .xe-label{
  margin-right: 8px;
}
.board_list.v2 .thumb_area > a,
.board_list.v2 .thumb_area > span {
  display: block;
  position: relative;
}
.board_list.v2 ~ .board_footer .bd_paginate {
  margin-top: 42px;
}
.board_list.v2 .more_info input[type=checkbox] {
  margin-right: 5px;
}

.board_list.v2 .bd_ico_lock{
  font-size: 18px;
}
.board_list.v2 .board_category{
  margin-bottom: 5px;
}

.board_list.v2 .reply_num{
  font-size: 18px;
}

.board_list .bd_ico_file i,
.board_list .bd_ico_new i{
  font-size: 17px
}

.board_list.gallery > ul {
  padding: 20px 0 0;
  list-style: none;
}
.board_list.gallery > ul:after {
  display: block;
  clear: both;
  content: "";
}
.board_list.gallery > ul > li {
  display: inline-block;
  margin-bottom: 37px;
  vertical-align: top;
  font-size: 15px;
}
.board_list.gallery .thumb_area {
  width: 92%;
  margin: 0 auto;
  text-align: center;
}
.board_list.gallery .cont_area {
  width: 92%;
  margin: 0 auto;
  padding-top: 18px;
}
.board_list.gallery .bd_ico_new i,
.board_list.blog .bd_ico_new i{
  padding-top: 4px;
}
.gallery.g_col2 > ul > li {
  width: 50%;
}
.gallery.g_col2 > ul > li:nth-child(3n) {
  clear: both;
}
.gallery.g_col3 > ul > li {
  width: 33%;
}
.gallery.g_col3 > ul > li:nth-child(4n) {
  clear: both;
}
.gallery.g_col4 > ul > li {
  width: 25%;
}
.gallery.g_col4 > ul > li:nth-child(5n) {
  clear: both;
}
.gallery.g_col5 > ul > li {
  width: 20%;
}
.gallery.g_col5 > ul > li:nth-child(6n) {
  clear: both;
}

/* Board List - Blog */
.board_list.blog > ul {
  padding: 20px 0 0;
  list-style: none;
}
.board_list.blog > ul:after {
  display: block;
  clear: both;
  content: "";
}
.board_list.blog li {
  position: relative;
  padding: 0 0 0 230px;
  margin-bottom: 40px;
  min-height: 140px;
}
.board_list.blog .title_area {
  padding-left: 30px;
}
.board_list.blog .title_area .title {
  /*overflow: hidden;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;*/
}
.board_list.blog .cont_area {
  padding-left: 30px;
}
.board_list.blog .cont_area > p {
  overflow: hidden;
  font-size: 14px;
  line-height: 23px;
  max-height: 46px;
}
.board_list.blog .thumb_area {
  position: absolute;
  top: 0;
  left: 0;
}
.board_list.blog .thumb_area {
  width: 230px;
}
.board_list.blog ~ .board_footer .bd_paginate {
  margin-top: 80px;
}

/* Pagination */
.bd_paginate {
  margin-top: 70px;
  text-align: center;
}
.bd_paginate > a,
.bd_paginate > strong,
.bd_paginate > span {
  display: inline-block;
  margin: 0 3px;
  padding: 6px 12px;
  border-radius: 25px;
  color: #696e7a;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  text-decoration: none;
}
.bd_paginate > a > i {
  vertical-align: middle;
}
.bd_paginate > strong,
.bd_paginate > a:hover {
  border-color: #399cf7;
  font-weight: normal;
  background-color: #399cf7;
  color: #fff;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}
.bd_paginate > .btn_prev {
  margin: 0 23px 0 3px;
}
.bd_paginate > .btn_next {
  margin: 0 3px 0 23px;
}
.bd_paginate > .btn_pg:hover {
  background: none;
  color: #2c2e37;
}
.bd_paginate > span.btn_pg {
  color: #ddd;
}
.bd_paginate > span.btn_pg:hover {
  color: #ddd;
}
.bd_paginate .more_page {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
.bd_paginate.v2 {
  overflow: hidden;
  margin-top: 20px;
  padding: 0 12px;
}
.bd_paginate.v2 > .btn_pg {
  float: left;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 1px solid #696e7a;
  line-height: 32px;
}
.bd_paginate.v2 > .btn_next {
  float: right;
}
.bd_paginate.v2 .pg_box {
  display: inline-block;
  height: 32px;
  margin: 0;
  padding: 0;
  line-height: 32px;
  color: #bebebe;
  font-size: 13px;
}
.bd_paginate.v2 .pg_box > strong {
  color: #2c2e37;
  font-weight: normal;
}
.bd_paginate.v2 > span.btn_pg {
  border: 1px solid #ddd;
}

/* Read */
.read_header h1 {
  margin-bottom: 19px;
  font-size: 30px;
  color: #696e7a;
  line-height: 130%;
}
.read_header h1 a {
  color: #696e7a;
}
.read_header .category {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: top;
  font-size: 20px;
  color: #399cf7;
}
.read_header .more_info {
  position: relative;
  margin-bottom: 45px;
}
.read_header .ly_popup {
  top: 22px;
  left: 0;
}
.read_footer {
  margin-top: 97px;
}
.read_footer .bd_file_list {
  margin-bottom: 17px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
}
.read_footer .bd_file_list > ul {
  display: none;
  margin-top: 15px;
  list-style: none;
}
.read_footer .bd_file_list li:first-child {
  margin-top: 0;
}
.read_footer .bd_file_list li {
  margin-top: 9px;
}
.read_footer .bd_file_list li > a,
.read_footer .bd_file_list .bd_file_size {
  font-size: 13px;
  color: #bebebe;
  line-height: 15px;
}
.read_footer .bd_file_list .bd_file_size {
  padding-left: 6px;
}
.read_footer .bd_file_list li > a:hover {
  color: #696e7a;
}
.read_footer .bd_file_list li > a > i {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  text-align: center;
}
.read_footer .bd_file_list .bd_btn_file {
  display: inline-block;
  color: #bebebe;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
}
.read_footer .bd_file_list .bd_btn_file:hover {
  color: #696e7a;
}
.read_footer .bd_file_list .bd_btn_file.on {
  color: #696e7a;
}
.read_footer .bd_file_list .bd_btn_file.on ~ ul {
  display: block;
}
.read_footer .bd_file_list .bd_btn_file > i {
  float: left;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.read_footer .bd_file_list .bd_file_num {
  margin-left: 10px;
  font-style: normal;
  font-size: 14px;
}
.read_footer .tns{
  position: relative;
  margin: 15px 0;
  text-align: right;
}
.read_footer .tags{
  display: inline-block;
  overflow: hidden;
  background: none;
  color: #fff;
}
.read_footer .tags a{
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  padding: 0 10px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background-color: #9c9c9c;
}
.read_footer .tags a:hover{
  text-decoration: none;
}
.bd_function {
  padding-bottom: 11px;
}
.bd_function:after {
  display: block;
  clear: both;
  content: "";
}
.bd_function .bd_function_l {
  float: left;
}
.bd_function .bd_function_r {
  float: right;
}
.bd_function .bd_ico {
  float: left;
  margin-left: 20px;
  height: 24px;
  font-size: 20px;
  color: #bebebe;
  text-align: center;
}
.bd_function .bd_ico:hover,
.bd_function .bd_ico.on,
.bd_function .bd_like_num:hover,
.bd_function .bd_like_num.on {
  color: #696e7a;
}
.bd_function .bd_like:hover,
.bd_function .bd_like.on,
.bd_function .bd_like.voted {
  color: #fe6462;
}
.bd_function .bd_ico:first-child {
  margin-left: 0;
}
.bd_function .bd_ico > i {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.bd_function .bd_like_num {
  display: inline-block;
  float: left;
  height: 24px;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  line-height: 24px;
  color: #bebebe;
}
.bd_function .bd_share_area,
.bd_function .bd_more_area {
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
.bd_function .bd_like_more {
  display: none;
  margin-top: 10px;
  clear: both;
}
.bd_function .bd_like_more.on {
  display: block;
}
.bd_function .bd_like_more ul {
  list-style: none;
}
.bd_function .bd_like_more > ul > li {
  position: relative;
  float: left;
  margin: 0 4px 8px 0;
}
.bd_function .bd_like_more > ul > li.on:before {
  position: absolute;
  top: 0;
  left: 1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fe6462;
  content: "";
}

.bd_function .bd_like_more .bd_like_more_text{
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  font-size: 14px;
}

.bd_function .bd_like_more .bd_like_more_text a{
  color: #6a6e79;
}

.bd_function .bd_like_more img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.bd_function .bd_share.on ~ .ly_popup,
.bd_function .bd_more_view.on ~ .ly_popup {
  display: block;
}
.bd_function .bd_share_area .ly_popup {
  top: 30px;
  left: 0;
}
.bd_function .bd_more_area .ly_popup {
  top: 30px;
  right: 0;
}
.bd_function .bd_share_area .ly_popup i {
  margin-right: 10px;
}

/* Write */
.board_write .cke {
  border: 1px solid #ddd;
  border-radius: 0;
  min-height: 300px;
}
.write_category {
  position:relative;
  display: inline-block;
  min-width: 120px;
  max-width: 160px;
  margin: 0 10px 10px 0;
  vertical-align: top;
}
.write_title {
  display: table;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.write_title .xe-form-control {
  display: table-cell;
  width: 100%;
  padding-left: 16px;
}
.write_title .__xe_titleWithSlug span a {
  text-decoration: none;
  color: #333;
}
.write_title .__xe_titleWithSlug span a:hover {
  text-decoration: underline;
}

.write_content .xe-form-group.xe-write{
  display: table;
  width: 100%;
}
.write_content .xe-form-group.xe-write select{
  display: table-cell;
}

.write_body,
.xe-select-label,
.__xe_section {
  margin-bottom: 10px;
}

.temp_save {
  position: absolute;
  right: 0;
  top: -24px;
}
.temp_save .temp_save_num {
  font-size: 13px;
  color: #696e7a;
}
.temp_save .temp_save_num > strong {
  font-weight: normal;
  color: #399cf7;
}
.temp_save_list {
  width: 100%;
  height: 334px;
  padding-left: 24px;
  background-color: #fff;
}
.temp_save_list > ul {
  overflow-y: auto;
  height: 100%;
  position: relative;
  padding: 19px 24px 0 0;
  list-style: none;
}
.temp_save_list li {
  position: relative;
  padding: 9px 264px 9px 0;
  border-top: 1px solid #f4f4f4;
}
.temp_save_list li:first-child {
  padding-top: 0;
  border-top: 0;
}
.temp_save_list li:first-child .temp_info {
  padding-top: 0;
}
.temp_save_list .temp_info {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 0;
}
.temp_save_list .temp_title {
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  color: #696a7a;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
}

.temp_info .xe-badge{
  float: left;
  margin-right: 10px;
}

.temp_info .temp_date {
  float: left;
  margin-right: 20px;
  font-size: 13px;
  color: #bebebe;
}
.temp_info .temp_date > span {
  margin-right: 6px;
}
.temp_info .btn_temp_delete {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #399cf7;
  line-height: 14px;
  font-size: 6px;
  color: #fff;
  text-align: center;
}
.temp_info .btn_temp_delete > i {
  line-height: 14px;
}

.write_footer {
  /* padding-top: 16px; */
}
.write_footer .write_form_btn {
  float: right;
  position: relative;
  text-align: right;
}
.write_footer .write_form_btn:after {
  display: block;
  clear: both;
  content: "";
}
.write_footer .write_form_btn > button {
  margin-left: 2px;
  color: #696e7a;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  font-size: 15px;
}
.write_footer .write_form_btn > button:first-child {
  margin-left: 0;
}
.write_footer .write_form_btn > button:hover,
.write_footer .write_form_btn > button:focus {
  border-color: #e2e2e2;
  background-color: #e2e2e2;
}
.write_footer .write_form_btn .btn_submit {
  border-color: #696e7a;
  background-color: #696e7a;
  color: #fff;
}
.write_footer .write_form_btn .btn_submit:hover,
.write_footer .write_form_btn .btn_submit:focus {
  border-color: #399cf7;
  background-color: #399cf7;
}
.write_footer .write_form_btn .btn_cancel {
  position: absolute;
  bottom: 0;
  right: 0;
}
.write_form_input {
  margin: -6px 0 16px;
}
/* .write_form_option {
  float: left;
  height: 15px;
  line-height: 15px;
} */
.write_form_input:after,
.write_form_option:after {
  display: block;
  clear: both;
  content: "";
}
.write_form_option input[type=checkbox] {
  margin-right: 5px;
}
.write_form_option label {
  margin-right: 13px;
}
.write_form_input .xe-form-control {
  /* width: 120px; */
  /*height: 38px;
  padding-left: 16px;
  font-size: 13px;
  line-height: 38px;*/
}
.write_form_input .xe-form-control:first-child {
  /* margin-left: 0; */
}
.write_form_input .xe-form-control.v2 {
  /* width: 200px; */
}

@media (max-width: 767px) {
  .board .mb_hidden {
    display: none;
  }
  .board .pc_hidden {
    display: block;
  }
  .board_header {
    position: relative;
    z-index: 20;
    margin-bottom: 0;
    background-color: transparent;
  }
  .board_header .bd_manage_area {
    min-width: 42px;
    margin-right: 0;
  }
  .board_header .bd_manage_area .btn_mng {
    padding: 0 11px;
    width: 42px;
    height: 60px;
  }
  .board_header .bd_manage_area .btn_mng i {
    /* line-height: 60px; */
    margin-right: 0;
  }
  .board_header .bd_manage_area:after {
    display: none;
  }

  .board_header .bd_search_area {
    border-top: 1px solid #ddd;
    z-index: 20;
  }
  .board_header .bd_search_detail {
    padding: 0 12px;
  }
  .board_header .bd_manage_detail {
    /* border-top: 1px solid #ddd; */
  }
  .board_header .bd_search_detail dt,
  .board_header .bd_manage_detail dt {
    float: none;
    height: 36px;
  }
  .board_header .bd_search_detail dd,
  .board_header .bd_manage_detail dd {
    float: none;
    margin-bottom: 7px;
  }
  .board_header .bd_search_input {
    height: 30px;
    font-size: 15px;
    line-height: 30px;
  }
  .board_header .bd_search_box {
    padding: 10px 20px;
  }
  .board_header .bd_search_footer {
    padding-top: 13px;
  }
  .board_header .bd_btn_detail:after {
    margin-left: -9px;
  }
  .board_header .board-sorting-area {
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 20;
  }
  .board_header .bd_btn_area li a:hover {
    color: #bebebe;
  }
  .xe-form-control {
    width: 100%;
  }
  .board_header .board-sorting-area .xe-dropdown {
    float: none;
    clear: both;
    max-width: none;
    min-width: auto;
    margin-right: 0;
    border: none;
  }
  /*.board_header .bd_align .bd_select {
    height: 50px;
    border: 0;
    border-top: 1px solid #ddd;
    padding-left: 12px;
    line-height: 50px;
    font-size: 15px;
  }*/
  /*.board_header .bd_align .bd_select:after {
    border-color: #bebebe transparent transparent;
  }*/
  /*.board_header .bd_align .bd_select.on:after {
    border-color: transparent transparent #399cf7;
  }*/
  .board_header .board-sorting-area .xe-dropdown .xe-dropdown-menu {
    position: relative;
    border-color: #797B81;
  }
  .board_header .board-sorting-area .xe-dropdown+.xe-dropdown{
    margin-top:-1px;
  }
  .board_header .bd_btn_area {
    height: 60px;
  }
  .board_header .bd_btn_area ul {
    overflow: hidden;
  }
  .board_header .bd_btn_area li {
    padding: 0;
    margin-left: 0;
  }
  .board_header .bd_btn_area li > a {
    height: 60px;
    padding: 0 12px;
  }
  .board_header .bd_btn_area li > a > i {
    /* line-height: 30px; */
  }
  .board_list table {
    border-color: #ddd;
  }
  .board_list td.check {width: 42px}
  .board_list td.favorite,
  .board_list td.category,
  .board_list td.title,
  .board_list td.author,
  .board_list td.read_num,
  .board_list td.time { width: auto}
  .board_list tr.readed .mb_autohr {
    color: #bebebe;
  }
  .board_list .no_article {
    height: 248px;
  }
  .board_list .no_article td {
    border-bottom: 0;
  }
  .board_list .no_article img {
    display: inline-block;
  }
  .board_list .no_article p {
    margin-top: 7px;
  }
  .board_list td {
    padding: 12px 12px 11px;
    border-bottom: 1px solid #f4f4f4;
  }
  .board_list td.title {
    padding-left: 0;
    font-size: 15px;
  }
  .board_list .title .category {
    position: relative;
    top: 2px;
  }
  .board_list .check input[type=checkbox] {
    position: relative;
    top: 2px;
    width: 13px;
    height: 13px;
    border: 1px solid #bebebe;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  .board_list .check input[type=checkbox]:checked {
    border-color: #399cf7;
    background-color: #399cf7;
  }
  .board_list .title .category {
    display: inline-block;
  }
  .board_list tbody tr:hover {
    background: none;
  }
  .board .bd_dimmed {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 15;
    opacity: .3;
    filter: alpha(opacity=30);;
  }
  .board_list.v2 {
    border-top: 1px solid #ddd;
  }
  .board_list.v2 .category {
    float: left;
    margin: 0 6px 0 0;
    font-size: 17px;
  }
  .board_list.v2 .xe-badge {
    float: left;
    margin: 4px 5px 0 0;
  }
  .board_list.v2 .title {
    overflow: visible;
    font-size: 17px;
    max-height: none;
  }
  .board_list.v2 .more_info {
    padding-top: 3px;
  }
  .board_list.v2 .notice ~ .category {
    top: 0;
  }
  .board_list.v2 ~ .board_footer .bd_paginate {
    margin-top: 20px;
  }
  .board_list.v2 .board_category{
    margin-bottom: 0;
  }
  .board_list.gallery {
    padding: 30px 0 0;
    border-top: 1px solid #ddd;
  }
  .board_list.gallery > ul {
    padding-top: 0;
  }
  .board_list.gallery > ul > li {
    width: 100%;
    margin-bottom: 27px;
  }
  .board_list.gallery .thumb_area {
    width: 100%;
  }
  .board_list.gallery .cont_area {
    width: 100%;
    padding-top: 16px;
  }
  .board_list.blog li {
    margin-bottom: 0;
    padding: 20px 12px;
    border-bottom: 1px solid #ddd;
  }
  .board_list.blog li:first-child {
    padding-top: 0;
  }
  .board_list.blog .title_area {
    padding: 0 0 2px 0;
  }
  .board_list.blog .thumb_area {
    position: static;
    float: left;
  }
  .board_list.blog .thumb_area {
    width: 100px;
    height: 70px;
  }
  .board_list.blog .cont_area {
    padding-left: 0;
  }
  .board_list.blog .cont_area > p {
    padding-left: 10px;
    height: 69px;
    max-height: none;
  }
  .board_list.blog .more_info {
    padding-top: 8px;
  }
  .read_header,
  .bd_function {
    padding: 0 12px;
  }
  .read_header .more_info {
    margin-bottom: 25px;
  }
  .read_footer {
    margin-top: 57px;
  }
  .read_footer .bd_file_list {
    padding: 0 12px 16px;
  }

  .board_write {
  }
  .board_write .cke {
    min-height: 240px;
  }
  .board_write .bd_select_list {
    position: static;
    width: 100%;
    margin-bottom: 10px;
  }
  .board_write .bd_select_list ul {
    max-width: none;
    border-top: 0;
  }
  .write_category {
    display: block;
    margin: 0 0 10px 0;
    width: 100%;
    max-width: none;
  }

  .write_title,
  .write_title .xe-form-control,
  .write_content .xe-form-group.xe-write,
  .write_content .xe-form-group.xe-write select{
    display: block;
  }

  .temp_save {
    position: static;
    margin-bottom: 10px;
  }
  .temp_save a {
    display: block;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #ddd;
    line-height: 40px;
  }
  .temp_save a.on {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
  }
  .temp_save_list {
    height: 292px;
    padding: 0 0 0 12px;
  }
  .temp_save_list > ul {
    padding: 19px 12px 0 0;
  }
  .temp_save_list li {
    padding: 7px 0 0;
  }
  .temp_save_list li:first-child .temp_info {
    padding: 0;
  }
  .temp_save_list .temp_info {
    position: relative;
    margin: 4px 0 9px;
    padding: 0;
  }
  .temp_info .btn_temp_delete {
    position: absolute;
    right: 0;
  }

  .write_footer {
    /* padding-top: 16px; */
  }
  .write_footer .write_form_btn {
    /* padding-top: 20px; */
    float: none;
  }
  .write_footer .write_form_btn > button {
    min-width: auto;
    margin-left: 2%;
  }
  .write_footer .write_form_btn.nologin > a {
    width: 49%;
  }

  .write_footer .write_form_btn .btn_cancel {
    position: static;
  }
  .write_footer .write_form_input {
    margin: 0;
  }
  .write_footer .write_form_input .xe-form-control {
    display: block;
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }
  .write_footer .write_form_input .xe-form-control.v2 {
    width: 100%;
  }
  .write_footer .write_form_option {
    float: none;
  }
}

@media (max-width: 991px) {
  .board_list.gallery .thumb_area img {
    max-height: 147px;
  }
}

.xe-modal .xe-list-group .img-thumbnail{
  overflow:hidden;
  display: table-cell;
  border-radius:50%;
  width: 48px;
  height: 48px;
}

.board .board-title{
  text-align: center;
  padding-bottom: 37px;
  color:#383838;
}

.board .board-title>strong{
  display: block;
  font-size: 34px;
  font-weight: normal;
}

/** tag */
/* Example Styles for React Tags*/
div.ReactTags__tags {
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;
}
div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  width: 100%;
  border: 1px solid #eee;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  /*cursor: move;*/
  border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  overflow-y: auto;
  position: absolute;
  top: 100%;
  max-height: 366px;
  margin-top: -1px ;
  padding: 8px 0;
  border: 1px solid #51586b;
  border-radius: 0 0 2px 2px;
  background-color: #fff;
  z-index: 10;
}

div.ReactTags__suggestions ul {
  width: 200px;
  margin: 0;
  padding: 0;
  background: white;
  list-style-type: none;
}
div.ReactTags__suggestions li {
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li:hover,
div.ReactTags__suggestions li.active {
  background-color: #2389ee;
  color: #000;
  cursor: pointer;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions li:hover span,
div.ReactTags__suggestions li.active span {
  color: #fff;
}

.boardTag {
  padding-bottom: 20px;
}


/* thumbnail-cover */
.board_list .thumb_area {
  overflow: hidden;
}
.board_list .thumbnail-cover {
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../../../../../assets/core/common/img/default_image_1200x800.jpg');
}
.board_list .thumbnail-cover--scale {
  transition: transform 0.3s ease-out;
}
.board_list .thumbnail-cover--scale:hover {
  transform: scale(1.10);
}
/* END thumbnail-cover */


