.xe-list-board-body .row {
  margin-left: 0;
  margin-right: 0;
}

.xe-list-board-body .pdr20 {
  padding-right: 20px !important;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-item {
  padding: 0;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title {
  border-bottom: 1px solid #e0e0e0;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title .current-slug {
  padding: 10px;
  display: inline-block;
  word-break: break-all;
  word-wrap: break-word;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title .xe-list-board-body--header-title-input {
  width: 100%;
  border: none;
  padding: 15px;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title .xe-list-board-body--header-title-input::-webkit-input-placeholder {
  font-size: 17px;
  color: #aeaeae;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title .xe-list-board-body--header-title-input::-moz-placeholder {
  font-size: 17px;
  color: #aeaeae;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title .xe-list-board-body--header-title-input:-ms-input-placeholder {
  font-size: 17px;
  color: #aeaeae;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title .xe-list-board-body--header-title-input::-ms-input-placeholder {
  font-size: 17px;
  color: #aeaeae;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title .xe-list-board-body--header-title-input::placeholder {
  font-size: 17px;
  color: #aeaeae;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-select {
  min-height: 55px;
  font-size: 14px;
  color: #141414;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-select .new-select {
  width: 100%;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-select .new-select .xe-dropdown--menu-item-link {
  max-width: 100%;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-select .new-select .xe-dropdown__button-text {
  width: 100%;
  display: inline-block;
  text-align: left;
  min-height: 55px;
  padding: 0 20px;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-select .new-select .xe-dropdown__button-text:after {
  position: absolute;
  right: 20px;
}

.xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-select .new-select .xe-dropdown--menu {
  width: 100%;
  padding: 15px;
  right: 0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-title {
  display: none;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-attachment {
  border-bottom: 1px solid #e0e0e0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-attachment .xe-list-board-body--footer-file-attach {
  padding: 10px 15px;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-attachment .xe-list-board-body--footer-file-attach .xe-list-board-body--footer-file-attachtext {
  display: none;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-attachment .xe-list-board-body--footer-file-attach .xe-list-board-body--footer-file-btn {
  cursor: pointer;
  margin: 0 30px 0 0;
  font-weight: 500;
  padding: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-attachment .xe-list-board-body--footer-file-attach .xe-list-board-body--footer-file-btn:last-child {
  margin-right: 0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-attachment .xe-list-board-body--footer-file-attach .xe-list-board-body--footer-file-btn:hover {
  background: #dde9fc;
  border-radius: 3px;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-tag .xe-list-board-body--footer-tag-input {
  width: 100%;
  border: none;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-tag .xe-list-board-body--footer-tag-input::-webkit-input-placeholder {
  font-size: 14px;
  color: #9c9c9c;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-tag .xe-list-board-body--footer-tag-input::-moz-placeholder {
  font-size: 14px;
  color: #9c9c9c;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-tag .xe-list-board-body--footer-tag-input:-ms-input-placeholder {
  font-size: 14px;
  color: #9c9c9c;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-tag .xe-list-board-body--footer-tag-input::-ms-input-placeholder {
  font-size: 14px;
  color: #9c9c9c;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-tag .xe-list-board-body--footer-tag-input::placeholder {
  font-size: 14px;
  color: #9c9c9c;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-nonmember .xe-list-board-body--footer-nonmember-input {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list .xe-list-board-body--footer-check-item {
  margin-right: 10px;
  position: relative;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list .xe-list-board-body--footer-check-item:last-child {
  margin-right: 0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list .xe-list-board-body--footer-check-item .xe-list-board-body--footer-check-item-text {
  font-size: 14px;
  color: #484848;
  letter-spacing: -0.19px;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list .xe-list-board-body--footer-check-item input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list .xe-list-board-body--footer-check-item input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list .xe-list-board-body--footer-check-item input[type="checkbox"] + label:before {
  content: ' ';
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list .xe-list-board-body--footer-check-item input[type="checkbox"]:checked + label:before {
  content: url("../img/check.png");
  color: #99a1a7;
  text-shadow: 1px 1px #fff;
  border-color: #adb8c0;
}

.xe-list-board-body .xe-list-board-body--footer .captcha_container {
  margin: 20px 0 50px 0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button {
  width: 120px;
  background: #fff;
  border: 1px solid #c0c0c0;
  color: #484848;
  margin-right: 10px;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button:first-child {
  position: relative;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button:first-child .xe-list-board-body--footer-button__transient {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button:first-child .xe-list-board-body--footer-button__transient a {
  text-decoration: none;
  color: #141414;
  display: inline-block;
  padding: 10px;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button:first-child .xe-list-board-body--footer-button__transient .xe-list-board-body--footer-button__draftsave {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #c0c0c0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button:first-child .xe-list-board-body--footer-button__transient .xe-list-board-body--footer-button__draftload-arrow {
  padding-left: 10px;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button:first-child .xe-list-board-body--footer-button__transient-content {
  display: none;
  position: absolute;
  top: 41px;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 1;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button:first-child .xe-list-board-body--footer-button__transient-content.open {
  display: block;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button:first-child .xe-list-board-body--footer-button__transient-content a {
  color: black;
  width: 100%;
  height: 42px;
  text-decoration: none;
  display: block;
  line-height: 42px;
  text-align: center;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button.xe-list-board-body--footer-button__preview, .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button.xe-list-board-body--footer-button__register {
  padding: 10px;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button:last-child {
  margin-right: 0;
}

.xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button.xe-list-board-body--footer-button__register {
  background: #141414;
  color: #fff;
  border: none;
}

@media (max-width: 992px) {
  .new-select .xe-dropdown__button .xe-dropdown--menu .xe-dropdown--menu-item:hover:after {
    width: 2000px !important;
    left: -600px !important;
  }
  .new-select .xe-dropdown__button .xe-dropdown--menu .xe-dropdown--menu-item.on:after {
    width: 2000px !important;
    left: -600px !important;
  }
}

@media (min-width: 768px) {
  .xe-list-board-body .xe-list-board-body--header {
    margin-bottom: 30px;
    border-bottom: none;
  }
  .xe-list-board-body .xe-list-board-body--header .new-select {
    border-bottom: 1px solid #e0e0e0;
  }
  .xe-list-board-body .xe-list-board-body--editor {
    margin-bottom: 25px;
  }
  .xe-list-board-body .xe-list-board-body--tag {
    margin-bottom: 35px;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-title {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    color: #484848;
    letter-spacing: -0.18px;
    margin-bottom: 0;
    font-weight: 700;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-nonmember {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-nonmember .xe-list-board-body--footer-nonmember-input {
    width: 33%;
    margin-right: 10px;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-nonmember .xe-list-board-body--footer-nonmember-input:last-child {
    margin-right: 0;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list {
    margin: 0 0 25px 0;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list .xe-list-board-body--footer-check-item {
    margin-right: 25px;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-check-box .xe-list-board-body--footer-check-list .xe-list-board-body--footer-check-item:last-child {
    margin-right: 0;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button {
    font-size: 16px;
    width: 140px;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button .xe-list-board-body--footer-button__transient-content {
    top: 45px;
  }
  .xe-list-board-body .xe-list-board-body--footer .xe-list-board-body--footer-button-box .xe-list-board-body--footer-button.xe-list-board-body--footer-button__register {
    background: #141414;
    color: #fff;
    border: none;
  }
}

@media (min-width: 992px) {
  .xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title {
    border-bottom: 0;
  }
  .xe-list-board-body .xe-list-board-body--header .xe-list-board-body--header-title .xe-list-board-body--header-title-input {
    border-bottom: 1px solid #e0e0e0;
  }
}

/*# sourceMappingURL=new-board-create.css.map */
