@charset "UTF-8";
.xe-list-gallery-board-body .xe-list-gallery-board-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__img-box {
  position: relative;
  margin-right: 25px;
  width: 100%;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__img-box .xe-list-board-list-item__notice-banner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  background: #2684ff;
  color: #fff;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__img-box .xe-list-gallery-board-list-item__img {
  background: url(../img/board_default_img.png) no-repeat 50% 50%;
  padding-top: 75%;
  background-size: cover;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body {
  width: 70%;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__category {
  display: none;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__text-link {
  text-decoration: none;
  color: #181818;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__text-link .xe-list-gallery-board-list-item__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__text-link .xe-list-gallery-board-list-item__title-box .xe-list-gallery-board-list-item__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #141414;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__text-link .xe-list-gallery-board-list-item__title-box .xe-list-board-list__title-new-icon {
  margin-left: 5px;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__text-link .xe-list-gallery-board-list-item__title-box .xe-list-board-list__title-new-icon .xe-list-board-list__title-new {
  margin-top: 5px;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item--detail-info-box .xe-list-gallery-board-list-item__user-info .xe-list-board-list__user-image {
  display: none;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item--detail-info-box .xe-list-gallery-board-list-item__user-info .xe-list-board-list-item___display_name {
  margin-bottom: 0;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item___detail-info p {
  display: inline-block;
  margin-bottom: 0;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item___detail-info .xe-list-gallery-board-list-item___detail {
  margin: 0;
  font-size: 12px;
  color: #9c9c9c;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item___detail-info .xe-list-gallery-board-list-item___detail:after {
  content: '·';
  margin: 0 10px;
}

.xe-list-gallery-board-body .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item___detail-info .xe-list-gallery-board-list-item___detail:last-child:after {
  content: '';
}

@media (min-width: 768px) {
  .xe-list-gallery-board-body .xe-list-gallery-board-list .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__category {
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #767676;
    text-transform: uppercase;
  }
  .xe-list-gallery-board-body .xe-list-gallery-board-list .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__title-box .xe-list-gallery-board-list-item__title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline;
  }
  .xe-list-gallery-board-body .xe-list-gallery-board-list .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__title-box .xe-list-board-list__title-new-icon .xe-list-board-list__title-new {
    margin: 10px 0;
  }
  .xe-list-gallery-board-body .xe-list-gallery-board-list .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item__text .xe-list-gallery-board-list-item__description {
    -webkit-line-clamp: 3;
  }
  .xe-list-gallery-board-body .xe-list-gallery-board-list .xe-list-gallery-board-list-item .xe-list-gallery-board-list-item__body .xe-list-gallery-board-list-item--detail-info-box .xe-list-gallery-board-list-item__user-info .xe-list-board-list__user-image {
    display: block;
    margin: 3px 10px 0 0;
  }
}

/*# sourceMappingURL=new-board-blog.css.map */
