.xe-list-board-body {
  margin: 30px 0 40px 0;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-category {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #767676;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-text {
  font-size: 21px;
  line-height: 30px;
  letter-spacing: -0.4px;
  color: #141414;
  margin-bottom: 15px;
  margin-top: 10px;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-text .xe-list-board-body__title-notice {
  background: #2684ff;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  padding: 0 10px;
  margin-right: 10px;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ececec;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--left-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--left-box .xe-list-board-list__writer {
  vertical-align: middle;
  text-decoration: none;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  white-space: nowrap;
  font-size: 14px;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--left-box .xe-list-board-list__writer .xe-dropdown-menu {
  min-width: 0;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--left-box .xe-list-board-list__writer a {
  color: #141414;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--left-box .xe-list-board-list__writer .xe-list-board-list__user-image {
  margin: 6px 10px 6px 0;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--left-box .xe-list-board-list__writer .xe-list-board-list__display_name {
  font-size: 13px;
  line-height: 16px;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--right-box {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: right;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--right-box .xe-list-board-list__icon-box {
  font-size: 22px;
  line-height: 41px;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-list-board-list__icon {
  vertical-align: middle;
  text-decoration: none;
  color: #141414;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-list-board-list__icon.xe-list-board-list__bookmark i:before {
  content: '\ea1d';
  display: inline-block;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-list-board-list__icon.xe-list-board-list__bookmark .on i:before {
  content: '\ea1c';
  display: inline-block;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-dropdown {
  display: inline-block;
  font-size: 22px;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-dropdown .xe-dropdown-menu {
  font-size: 14px;
}

.xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-dropdown .share-item {
  font-size: 14px;
}

.xe-list-board-body .xe-list-board-body__article .xe-list-board-body__article-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #141414;
}

.xe-list-board-body .xe-list-board-body__article figure {
  margin: 40px 0;
}

.xe-list-board-body .xe-list-board-body__article figure img {
  width: 100%;
}

.xe-list-board-body .xe-list-board-body__article figure figcaption {
  margin: 10px 0;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.16px;
  color: #767676;
}

.xe-list-board-body .xe-list-board-body__article-tag {
  margin: 70px 0 60px 0;
}

.xe-list-board-body .xe-list-board-body__article-tag .xe-list-board-body__article-tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.xe-list-board-body .xe-list-board-body__article-tag .xe-list-board-body__article-tag-list-item {
  border: 1px solid #e0e0e0;
  background: #fafafa;
  margin-right: 10px;
  font-size: 15px;
  letter-spacing: -0.43px;
  color: #141414;
  margin-bottom: 10px;
}

.xe-list-board-body .xe-list-board-body__article-tag .xe-list-board-body__article-tag-list-item .xe-list-board-body__link {
  display: inline-block;
  padding: 10px 15px;
}

.xe-list-board-body .xe-list-board-body__article-tag .xe-list-board-body__article-tag-list-item:last-child {
  margin-right: 0;
}

.xe-list-board-body .xe-list-board-body__file-attach .xe-list-board-body__file-attach-count {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.xe-list-board-body .xe-list-board-body__file-attach .xe-list-board-body__file-attach-count .xe-list-board-body__file-attach-link {
  display: block;
  text-decoration: none;
  color: #141414;
  line-height: 1.8;
}

.xe-list-board-body .xe-list-board-body__file-attach .xe-list-board-body__file-attach-count .xe-list-board-body__file-attach-name {
  display: none;
}

.xe-list-board-body .xe-list-board-body__file-attach .xe-list-board-body__file-attach-count .xe-list-board-body__file-attach-name.open {
  display: block;
}

.xe-list-board-body .xe-list-board-body__more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board__btn-box .xe-list-board__btn {
  margin: 0;
  text-decoration: none;
  color: #141414;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board-body__like-box {
  border: 1px solid #e0e0e0;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board-body__like-box .xe-list-board-body__like-box-item {
  border-right: 1px solid #e0e0e0;
  padding: 0 20px;
  text-align: center;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board-body__like-box .xe-list-board-body__like-box-item a {
  text-decoration: none;
  color: #141414;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board-body__like-box .xe-list-board-body__like-box-item a.voted {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board-body__like-box .xe-list-board-body__like-box-item.xe-list-board-list__box-assent_count .bd_like {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/assent.svg") no-repeat 50%;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board-body__like-box .xe-list-board-body__like-box-item.xe-list-board-list__box-assent_count .bd_like.voted {
  background: url("../img/assent_up.svg") no-repeat 50%;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board-body__like-box .xe-list-board-body__like-box-item.xe-list-board-list__box-dissent_count .bd_like {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/dissent.svg") no-repeat 50%;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board-body__like-box .xe-list-board-body__like-box-item.xe-list-board-list__box-dissent_count .bd_like.voted {
  background: url("../img/dissent_down.svg") no-repeat 50%;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .xe-list-board-body--like-box-wrapper .xe-list-board-body__like-box .xe-list-board-body__like-box-item:last-child {
  border-right: none;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .bd_like_more .bd_like_more_list {
  background: #fff;
  margin: 0;
  padding: 10px 10px 0 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .bd_like_more .bd_like_more_list li {
  position: relative;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .bd_like_more .bd_like_more_list li.on:before {
  position: absolute;
  top: 0;
  right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2684ff;
  content: "";
  z-index: 1;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .bd_like_more .bd_like_more_list .bd_like_more_list_item {
  margin-right: 5px;
  position: relative;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .bd_like_more .bd_like_more_list .bd_like_more_list_item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .bd_like_more .bd_like_more_text {
  margin: 0;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--left-box .bd_like_more .bd_like_more_text .bd_like_more_text_link {
  color: #2684ff;
  text-decoration: underline;
  font-weight: 600;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 43px;
  text-align: right;
  letter-spacing: -0.2px;
  color: #141414;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-body__edit-box {
  font-size: 14px;
  margin-right: 25px;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-body__edit-box .xe-list-board-body__edit-item .xe-list-board-body__link:focus, .xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-body__edit-box .xe-list-board-body__edit-item .xe-list-board-body__link:hover, .xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-body__edit-box .xe-list-board-body__edit-item .xe-list-board-body__link:active {
  text-decoration: none;
  color: #141414;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-body__edit-box .xe-list-board-body__edit-item:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #e0e0e0;
  margin-right: 5px;
  margin-left: 7px;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-body__edit-box .xe-list-board-body__edit-item:last-child:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  background: transparent;
  margin-right: 0;
  margin-left: 0;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-list__icon-box {
  font-size: 18px;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-dropdown {
  display: inline-block;
  font-size: 18px;
  line-height: 43px;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-dropdown .xe-dropdown-menu {
  font-size: 14px;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-dropdown .share-item {
  font-size: 14px;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-list-board-list__icon {
  margin-right: 5px;
  vertical-align: middle;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-list-board-list__icon.xe-list-board-list__bookmark i:before {
  content: '\ea1d';
  display: inline-block;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-list-board-list__icon.xe-list-board-list__bookmark .on i:before {
  content: '\ea1c';
  display: inline-block;
}

.xe-list-board-body .xe-list-board-body__more-info .xe-list-board-body--right-box .xe-list-board-list__icon-box .xe-list-board-list__icon:last-child {
  margin: 0;
}

.xe-list-board-body .xe-list-board-body__more-post {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 30px 20px;
}

.xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-title {
  font-size: 16px;
  letter-spacing: -0.23px;
  color: #141414;
  margin-bottom: 15px;
}

.xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-title .xe-list-board-body__more-post-board-name {
  font-weight: 700;
}

.xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-list .xe-list-board-body__more-post-list-item {
  color: #9c9c9c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 27px;
}

.xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-list .xe-list-board-body__more-post-list-item:hover {
  color: #141414;
}

.xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-list .xe-list-board-body__more-post-list-item .xe-list-board-body__more-post-list-item-link {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #9c9c9c;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-list .xe-list-board-body__more-post-list-item .xe-list-board-body__more-post-list-item-link:hover {
  color: #141414;
}

.xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-list .xe-list-board-body__more-post-list-item .xe-list-board-body__more-post-list-item-date {
  display: none;
}

.xe-modal .xe-modal-dialog .xe-modal-content {
  border-radius: 10px;
}

.xe-modal .xe-modal-dialog .slickgrid_247976 .slick-row {
  height: 100px;
}

@media (min-width: 768px) {
  .xe-list-board-body {
    margin: 60px 0 80px 0;
  }
  .xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-category {
    font-size: 20px;
  }
  .xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-text {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 25px;
  }
  .xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-text .xe-list-board-body__title-notice {
    font-size: 24px;
    line-height: 44px;
  }
  .xe-list-board-body .xe-list-board-body__title .xe-list-board-body__title-post-info {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .xe-list-board-body .xe-list-board-body__article .xe-list-board-body__article-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #141414;
  }
  .xe-list-board-body .xe-list-board-body__article figure {
    margin: 50px 0;
  }
  .xe-list-board-body .xe-list-board-body__article figure figcaption {
    font-size: 14px;
  }
  .xe-list-board-body .xe-list-board-body__article-tag {
    margin: 100px 0 80px 0;
  }
  .xe-list-board-body .xe-list-board-body__more-post {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 40px;
  }
  .xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-title {
    font-size: 16px;
    letter-spacing: -0.23px;
    color: #141414;
    margin-bottom: 15px;
  }
  .xe-list-board-body .xe-list-board-body__more-post .xe-list-board-body__more-post-list .xe-list-board-body__more-post-list-item .xe-list-board-body__more-post-list-item-date {
    display: block;
    margin-left: 10px;
  }
}

/*# sourceMappingURL=new-board-show.css.map */
