@charset "UTF-8";
.xe-list-webzine-board-body .xe-webzine-board__no-search-result {
  clear: both;
  min-height: 200px;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list {
  padding: 0;
  margin: 0 -15px;
  list-style-type: none;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item {
  margin-bottom: 30px;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__img-box {
  position: relative;
  margin-right: 25px;
  width: 100%;
  margin-bottom: 15px;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__img-box .xe-list-board-list-item__notice-banner {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  background: #2684ff;
  color: #fff;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__img-box .xe-list-webzine-board-list-item__img {
  background: url(../img/board_default_img.png) no-repeat 50% 50%;
  padding-top: 75%;
  background-size: cover;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text {
  margin-bottom: 15px;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__category {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #767676;
  text-transform: uppercase;
  height: 24px;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__text-link {
  text-decoration: none;
  color: #141414;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__text-link .xe-list-webzine-board-list-item__title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__text-link .xe-list-webzine-board-list-item__title-box .xe-list-webzine-board-list__subject-file,
.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__text-link .xe-list-webzine-board-list-item__title-box .xe-list-webzine-board-list__subject-secret {
  font-size: 14px;
  line-height: 26px;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__text-link .xe-list-webzine-board-list-item__title-box .xe-list-webzine-board-list__subject-file {
  margin-left: 5px;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__text-link .xe-list-webzine-board-list-item__title-box .xe-list-webzine-board-list__subject-secret {
  margin-right: 5px;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__text-link .xe-list-webzine-board-list-item__title-box .xe-list-webzine-board-list-item__title {
  margin: 0;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #141414;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__text-link .xe-list-webzine-board-list-item__title-box .xe-list-board-list__title-new-icon {
  margin: 0 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item__text .xe-list-webzine-board-list-item__text-link .xe-list-webzine-board-list-item__description {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #767676;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item--wrapper .xe-list-board-list--left-box {
  margin: 2px 10px 5px 0;
  display: none;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item--wrapper .xe-list-webzine-board-list-item__text-link {
  text-decoration: none;
  color: #181818;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item--wrapper .xe-list-board-list--right-box .xe-list-webzine-board-list-item___detail-info p {
  display: inline-block;
  margin-bottom: 0;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item--wrapper .xe-list-board-list--right-box .xe-list-webzine-board-list-item___detail-info .xe-list-webzine-board-list-item___detail {
  margin: 0;
  font-size: 12px;
  color: #9c9c9c;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item--wrapper .xe-list-board-list--right-box .xe-list-webzine-board-list-item___detail-info .xe-list-webzine-board-list-item___detail:after {
  content: '·';
  margin: 0 5px;
}

.xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item--wrapper .xe-list-board-list--right-box .xe-list-webzine-board-list-item___detail-info .xe-list-webzine-board-list-item___detail:last-child:after {
  content: '';
}

@media (min-width: 768px) {
  .xe-list-webzine-board-body .xe-list-webzine-board-list .xe-list-webzine-board-list-item .xe-list-webzine-board-list-item__body .xe-list-webzine-board-list-item--wrapper .xe-list-board-list--left-box {
    display: block;
  }
}

/*# sourceMappingURL=new-board-webzine.css.map */
