@charset "UTF-8";
/* 게시판 */
.xe-list-board-body .xe-list-board-list {
  border-top: 1px solid #141414;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.xe-list-board-body .xe-list-board-list .xe-hidden-mobile {
  display: none;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--header {
  display: none;
  border-bottom: 1px solid #e0e0e0;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item > div {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item > div:after {
  content: '·';
  margin: 0 5px;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item > div:last-child:after {
  content: '';
  margin: 0;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__mobile-style {
  font-size: 12px;
  color: #9c9c9c;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__category {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #767676;
  margin-bottom: 5px;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__notice--box-form {
  color: #fff;
  margin-right: 10px;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__notice--box-form .xe-list-board-list__notice--box-form-bg {
  background: #2684ff;
  padding: 0 10px;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__category:after,
.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title:after {
  content: '';
  margin: 0;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 10px;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title .xe-list-board-list__title-link {
  text-decoration: none;
  color: #141414;
  size: 15px;
  line-height: 22px;
  letter-spacing: -0.4px;
  margin-bottom: 15px;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title .xe-list-board-list__title-link .xe-list-board-list__title-icon {
  display: inline-block;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__writer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__writer:after {
  content: '';
  margin: 0 10px 0 0;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__writer a {
  color: #141414;
  text-decoration: none;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__writer a .xe-list-board-list__display_name {
  color: #141414;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__vote-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 10px;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__vote-count:after {
  content: '';
  margin: 0px;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__vote-count div:first-child {
  margin-right: 15px;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__vote-count div:last-child {
  margin-right: 0;
}

.xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__dynamic-field .xe-list-board-list__dynamic-field-title {
  font-weight: 700;
}

@media (min-width: 992px) {
  .xe-list-board-body .xe-list-board-list {
    overflow-x: auto;
  }
  .xe-list-board-body .xe-list-board-list .xe-hidden-pc {
    display: none !important;
  }
  .xe-list-board-body .xe-list-board-list .xe-hidden-mobile {
    display: inline-block;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header div {
    text-align: center;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__favorite {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    max-width: 30px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__category {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
    text-align: left;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__writer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
    max-width: 130px;
    text-align: left;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__created_at {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__updated_at {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__assent_count {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    max-width: 80px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__dissent_count {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    max-width: 80px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__read_count {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    max-width: 50px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 20%;
    text-align: left;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--header .xe-list-board-list__dynamic-field {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item > div {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item > div:after {
    content: '';
    margin: 0;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__mobile-style {
    font-size: 14px;
    color: #141414;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item:hover {
    background: #fafafa;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item.xe-list-board-list--item-notice:hover {
    background: #f3f9fc;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__favorite {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    max-width: 30px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__category {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
    text-align: left;
    margin-bottom: 0;
    font-size: 14px;
    color: #141414;
    line-height: 50px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__writer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
    max-width: 130px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__writer .xe-list-board-list__user-image {
    width: 28px;
    height: 28px;
    background: url(../img/defalut_profile.jpg) no-repeat 0% 50%;
    border-radius: 50px;
    float: left;
    margin-right: 8px;
    text-decoration: none;
    color: #767676;
    background-size: cover;
    margin: 11px 0;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__writer .xe-list-board-list__display_name {
    display: inline-block;
    margin-left: 5px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__created_at {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__updated_at {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__assent_count {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    max-width: 80px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__dissent_count {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    max-width: 80px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__read_count {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    max-width: 50px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    min-width: 20%;
    text-align: left;
    padding-right: 10px;
    margin: 0;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title .xe-list-board-list__title-link {
    text-decoration: none;
    color: #141414;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title .xe-list-board-list__title-link .xe-list-board-list__subjec-secret {
    line-height: 50px;
    margin-right: 5px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title .xe-list-board-list__title-link .xe-list-board-list__title-text {
    line-height: 50px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title .xe-list-board-list__title-link .xe-list-board-list__title-icon {
    display: inline-block;
    line-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title .xe-list-board-list__title-link .xe-list-board-list__title-icon .xe-list-board-list__title-new {
    margin: 17px 0 0 0;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title .xe-list-board-list__notice--box-form {
    color: #fff;
    line-height: 50px;
    margin-right: 10px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__title .xe-list-board-list__notice--box-form .xe-list-board-list__notice--box-form-bg {
    background: #2684ff;
    padding: 0 10px;
  }
  .xe-list-board-body .xe-list-board-list .xe-list-board-list--item .xe-list-board-list__dynamic-field {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    max-width: 100px;
  }
}

/*# sourceMappingURL=new-board.css.map */
