@charset "UTF-8";
.xe-list-board--pagination {
  margin: 30px 0 40px 0;
  /* PC */
  /* 모바일 */
}

.xe-list-board--pagination.xe-list-board--pagination-pc {
  display: none;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-item {
  text-align: center;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-item .xe-list-board__pagination-item-link {
  display: inline-block;
  padding: 0 10px;
  line-height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-item .xe-list-board__pagination-item-link.xe-list-board__pagination-item-disabled-link {
  color: rgba(0, 0, 0, 0.2);
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__btn_pagination {
  border: 1px solid #e0e0e0;
  margin: 0 15px;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__btn_pagination .xe-list-board__pagination-item-link {
  text-decoration: none;
  color: #484848;
  font-size: 14px;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-number {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-number:nth-child(2) {
  border-left: 1px solid #e0e0e0;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-number .xe-list-board__pagination-item-link {
  text-decoration: none;
  color: #484848;
  font-size: 14px;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-number .xe-list-board__pagination-item-link:hover {
  background: #e0e0e0;
  z-index: -1;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-number .xe-list-board__pagination-item-link:focus {
  background: #e0e0e0;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-number.xe-list-board__pagination-number--active {
  border: 1px solid #000 !important;
  z-index: 1;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-number.xe-list-board__pagination-number--active .xe-list-board__pagination-item-link {
  color: #000;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-number.xe-list-board__pagination-number--active .xe-list-board__pagination-item-link:hover {
  background: transparent !important;
}

.xe-list-board--pagination.xe-list-board--pagination-pc .xe-list-board--pagination-list .xe-list-board__pagination-number.xe-list-board__pagination-number--active .xe-list-board__pagination-item-link:focus {
  background: transparent !important;
}

.xe-list-board--pagination.xe-list-board--pagination-mobile {
  display: block;
  text-align: center;
}

.xe-list-board--pagination.xe-list-board--pagination-mobile .xe-list-board--pagination-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.xe-list-board--pagination.xe-list-board--pagination-mobile .xe-list-board--pagination-list .xe-list-board__pagination-item.xe-list-board__btn_pagination {
  border: 1px solid #e0e0e0;
}

.xe-list-board--pagination.xe-list-board--pagination-mobile .xe-list-board--pagination-list .xe-list-board__pagination-item.xe-list-board__btn_pagination .xe-list-board__pagination-item-disabled-link {
  color: rgba(0, 0, 0, 0.2);
}

.xe-list-board--pagination.xe-list-board--pagination-mobile .xe-list-board--pagination-list .xe-list-board__pagination-item.xe-list-board__pagination-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.xe-list-board--pagination.xe-list-board--pagination-mobile .xe-list-board--pagination-list .xe-list-board__pagination-item span {
  text-decoration: none;
  color: #484848;
  line-height: 36px;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.xe-list-board--pagination.xe-list-board--pagination-mobile .xe-list-board--pagination-list .xe-list-board__pagination-item .xe-list-board__pagination-item-link {
  text-decoration: none;
  color: #484848;
  line-height: 36px;
  display: inline-block;
  width: 36px;
  height: 36px;
}

@media (min-width: 768px) {
  .xe-list-board--pagination.xe-list-board--pagination-pc {
    display: block;
  }
  .xe-list-board--pagination.xe-list-board--pagination-mobile {
    display: none;
  }
}

/*# sourceMappingURL=new-board-pagination.css.map */
