.article-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
}

.article-table-title {
    display: inline-block;
    margin: 0 0 20px 0;
    font-size: 26px;
    font-weight: 300;
}

@media all and (max-width: 974px) {
    .article-table-title {
        margin-left: -15px;
    }
}

.article-table-more {
    display: block;
    height: 54px;
    margin: 0 0 20px 0;
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 54px;
    text-decoration: none;
}

.article-table-more.xe-hidden-sm {
    float: right;
    right: 0;
    top: 5px;
    height: auto;
    margin-top: 9px;
    line-height: normal;
}

.article-table-more.xe-hidden-sm:hover {
    color: #526bbe;
}

.article-table tr td {
    display: block;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #f6f5ec;
    width: 1em;
    white-space: nowrap;
    color: #999;
}

@media (min-width: 992px) {
    .article-table tr td {
        display: table-cell;
        padding: 23px 0 23px 20px;
    }
}

.article-table tr td:first-child {
    padding-bottom: 0;
    border-bottom: none;
}

@media (min-width: 992px) {
    .article-table tr td:first-child {
        vertical-align: top;
        border-bottom: 1px solid #f6f5ec;
    }
}

@media (min-width: 992px) {
    .article-table tr td.title {
        text-align: left;
    }
}

.article-table tr td.title {
  width: auto;
  white-space: normal;
}
.article-table tr td.title a {
    text-decoration: none;
}

.article-table tr td.title a strong {
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    height: 1.15em;
    overflow: hidden;
    white-space: normal;
}

.article-table tr td.title a strong + P {
    margin-top: 5px;
    color: #999;
}

.article-table tr td .xe-badge {
    min-height: auto;
    padding: 1px 4px;
    background-color: #e6e6e6;
    border-radius: 0;
    transition: none;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    line-height: 1.4;
}

.article-table.type2 td {
    padding: 30px 20px;
}

@media all and (max-width: 974px) {
    .article-table.type2 td {
        padding: 15px;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.article-table.type2 td.title {
    padding-left: 0px;
}

@media all and (max-width: 974px) {
    .article-table.type2 td.title {
        padding-left: 15px;
    }
}

.article-table.type2 .xe-badge {
    padding: 2px 4px 1px;
    font-size: 13px;
}

.article-table.type2 .title strong + p {
    display: none;
    color: red;
}

.link-more-board {
    display: block;
    height: 54px;
    margin-bottom: 20px;
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 54px;
    text-decoration: none;
}

.link-more-board.xe-hidden-sm {
    float: right;
    right: 0;
    top: 5px;
    height: auto;
    margin-top: 9px;
    line-height: normal;
}

.link-more-board.xe-hidden-sm:hover {
    color: #526bbe;
}
