@charset "UTF-8";
.xf-section-board {
  padding-bottom: 40px;
  line-height: 1.5;
}

.xf-board-show-header {
  padding: 0 15px 24px;
  border-bottom: 1px solid #ececec;
  line-height: 1.5;
}

.xf-board-show-header .xf-post-contents {
  line-height: 1.5;
}

.xf-board-show-header .xf-post-contents .xf-post-detail-title {
  line-height: 1.5;
}

.xf-board-show-header .xf-post-contents .xf-post-title {
  font-size: 21px;
  line-height: 30px;
  letter-spacing: -0.2px;
}

.xf-board-show-header .xf-post-contents .xf-post-title .xf-post-title__text {
  font-weight: 500;
}

.xf-board-show-header .xf-post-info .xf-detail-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list .xf-function-item {
  line-height: 1;
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list .xf-function-item:not(:last-child) {
  margin-right: 20px;
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list .xf-function-item .xe-share {
  display: block;
  background-image: url("../img/share.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list .xf-function-item .xe-share img {
  display: none;
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list .xf-function-item .xf-function-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list .xf-function-item .xf-function-icon.xf-bookmark {
  background-image: url("../img/bookmark.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list .xf-function-item .xf-function-icon.xf-bookmark.on {
  background-image: url("../img/bookmark-active.svg");
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list .xf-function-item .xf-function-icon.xf-toggle-menu {
  background-image: url("../img/ellipsis.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.xf-board-show-header .xf-post-info .xf-function-icon-box .xf-function-icon-list .xe-dropdown-menu {
  left: auto;
  right: 0;
}

.xf-board-show-body {
  padding: 24px 15px;
}

.xf-board-show-body .xf-post-article-contents .xf-post-article-tag-box {
  margin: 52px 0 60px 0;
}

.xf-board-show-body .xf-post-article-contents .xf-post-article-tag-box .xf-post-tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.xf-board-show-body .xf-post-article-contents .xf-post-article-tag-box .xf-post-tag-list .xf-post-tag-item {
  border: 1px solid #e0e0e0;
  background-color: #fafafa;
  margin-top: 8px;
}

.xf-board-show-body .xf-post-article-contents .xf-post-article-tag-box .xf-post-tag-list .xf-post-tag-item .xf-post-tag__link {
  padding: 10px 15px;
}

.xf-board-show-body .xf-post-article-contents .xf-post-article-tag-box .xf-post-tag-list .xf-post-tag-item:not(:last-child) {
  margin-right: 8px;
}

.xf-board-show-body .xf-post-article-contents .__xe_contents_compiler {
  vertical-align: baseline;
  word-break: normal;
}

.xf-board-show-body .xf-board-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list {
  border: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item {
  position: relative;
  padding: 8px 10px;
  min-width: 50px;
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item:not(:last-child):after {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  height: 15px;
  width: 1px;
  display: inline-block;
  background-color: #e0e0e0;
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item .xf-assent-item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item .xf-assent__link {
  color: #181818;
  font-size: 13px;
  vertical-align: middle;
  height: 18px;
  padding: 0 2px;
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item .xf-assent__link.voted .xf-assent-icon.xf-assent {
  background-image: url("../img/heart_active.svg");
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item .xf-assent__link.voted .xf-assent-icon.xf-dissent {
  background-image: url("../img/dissent_active.svg");
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item .xf-assent__link .xf-assent-icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item .xf-assent__link .xf-assent-icon.xf-assent {
  background-image: url("../img/heart.svg");
  margin-top: -4px;
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item .xf-assent__link .xf-assent-icon.xf-assent.on {
  background-image: url("../img/heart-active.svg");
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item .xf-assent__link .xf-assent-icon.xf-dissent {
  background-image: url("../img/dissent.svg");
}

.xf-board-show-body .xf-board-btn-box .xf-show-assent-box .xf-assent-list .xf-assent-item .xf-assent__link .xf-assent-text {
  color: #181818;
  font-size: 13px;
  height: 18px;
  vertical-align: middle;
}

.xf-board-show-body .xf-board-btn-box .xf-post-edit-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 15px;
}

.xf-board-show-body .xf-board-btn-box .xf-post-edit-box .xf-edit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xf-board-show-body .xf-board-btn-box .xf-post-edit-box .xf-edit-list .xf-edit-item {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #141414;
  margin-right: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xf-board-show-body .xf-board-btn-box .xf-post-edit-box .xf-edit-list .xf-edit-item:not(:last-child):after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #e0e0e0;
  margin-left: 5px;
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list .xf-function-item {
  line-height: 1;
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list .xf-function-item:not(:last-child) {
  margin-right: 20px;
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list .xf-function-item .xe-share {
  display: block;
  background-image: url("../img/share.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list .xf-function-item .xe-share img {
  display: none;
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list .xf-function-item .xf-function-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list .xf-function-item .xf-function-icon.xf-bookmark {
  background-image: url("../img/bookmark.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list .xf-function-item .xf-function-icon.xf-bookmark.on {
  background-image: url("../img/bookmark-active.svg");
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list .xf-function-item .xf-function-icon.xf-toggle-menu {
  background-image: url("../img/ellipsis.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}

.xf-board-show-body .xf-board-btn-box .xf-function-icon-box .xf-function-icon-list .xe-dropdown-menu {
  left: auto;
  right: 0;
}

.xf-board-show-body .xf-assent-people-list {
  margin-top: 15px;
}

.xf-board-show-body .xf-assent-people-list .bd_like_more_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.xf-board-show-body .xf-assent-people-list .bd_like_more_list li {
  position: relative;
}

.xf-board-show-body .xf-assent-people-list .bd_like_more_list li.on:before {
  position: absolute;
  top: 0;
  left: 1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2684ff;
  content: "";
}

.xf-board-show-body .xf-assent-people-list .bd_like_more_list li .bd_like_more_list_item:not(:last-child) {
  margin-right: 5px;
}

.xf-board-show-body .xf-assent-people-list .bd_like_more_list li .bd_like_more_list_item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.xf-board-show-body .xf-board-attachment-box {
  padding-bottom: 20px;
}

.xf-board-show-body .xf-board-attachment-box .xf-attachment-box .xf-attachment__link {
  padding-bottom: 10px;
}

.xf-board-show-body .xf-board-attachment-box .xf-attachment-box .xf-attachment__link .xf-file-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/paperclip.svg);
}

.xf-board-show-body .xf-board-attachment-box .xf-attachment-box .xf-attachment__link .xf-file-count-num {
  font-weight: 500;
  color: #a2a2a2;
}

.xf-board-show-body .xf-attachment-name-box {
  border-top: 1px solid  #e0e0e0;
  padding-top: 10px;
  display: none;
}

.xf-board-show-body .xf-attachment-name-box.open {
  display: block;
}

.xf-board-show-body .xf-attachment-name-box .xf-attachment-name__link {
  font-size: 14px;
  color: #a2a2a2;
}

.xf-board-show-body .xf-attachment-name-box .xf-attachment-name__link:hover {
  text-decoration: underline;
}

.xf-board-show-footer .xf-other-posts-list-box {
  padding: 32px 15px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.xf-board-show-footer .xf-other-posts-list-box .xf-other-post-title-box .xf-other-post-title {
  font-size: 16px;
  letter-spacing: -0.2px;
}

.xf-board-show-footer .xf-other-posts-list-box .xf-other-post-title-box .xf-other-post-title .xf-other-post-category {
  font-weight: 500;
}

.xf-board-show-footer .xf-other-posts-list-box .xf-other-post-title-box .xf-other-post-title .xf-other-post-text {
  font-weight: 400;
}

.xf-board-show-footer .xf-other-posts-list-box .xf-other-post-list .xf-other-post-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.xf-board-show-footer .xf-other-posts-list-box .xf-other-post-list .xf-other-post-item:not(:last-child) {
  margin-bottom: 4px;
}

.xf-board-show-footer .xf-other-posts-list-box .xf-other-post-list .xf-other-post-item .xf-other-post__link {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #9c9c9c;
}

.xf-board-show-footer .xf-other-posts-list-box .xf-other-post-list .xf-other-post-item .xf-other-post__link:hover {
  color: #141414;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .xf-board-show-header {
    padding: 0 40px 40px;
  }
  .xf-board-show-header .xf-post-contents .xf-post-notice,
  .xf-board-show-header .xf-post-contents .xf-post-category {
    font-size: 15px;
    line-height: 22px;
  }
  .xf-board-show-header .xf-post-contents .xf-post-title {
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.4px;
  }
  .xf-board-show-body {
    padding: 40px;
  }
  .xf-board-show-footer .xf-other-posts-list-box {
    padding: 40px;
    border: 1px solid #e0e0e0;
  }
  .xf-board-show-footer .xf-other-posts-list-box .xf-other-post-list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  .xf-board-show-footer .xf-other-posts-list-box .xf-other-post-list .xf-other-post-item:before {
    content: '·';
    line-height: 20px;
    display: inline-block;
    color: #9c9c9c;
    margin-right: 5px;
  }
}

/*# sourceMappingURL=xe-board-show.css.map */
