@charset "UTF-8";
/* 변수 */
.xf-board-pagination-box {
  /* PC */
  /* 모바일 */
}

.xf-board-pagination-box .xf-board-pagination-pc {
  display: none;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item {
  text-align: center;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item .xf-pagination__link {
  text-decoration: none;
  color: #484848;
  font-size: 14px;
  display: inline-block;
  padding: 0 10px;
  line-height: 36px;
  min-width: 36px;
  min-height: 36px;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item .xf-pagination__link.xf-pagination__disabled-link {
  color: rgba(0, 0, 0, 0.2);
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item.xf-pagination-arrow {
  border: 1px solid #e0e0e0;
  margin: 0 15px;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item.xf-pagination-number {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item.xf-pagination-number:nth-child(2) {
  border-left: 1px solid #e0e0e0;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item.xf-pagination-number .xf-pagination__link:hover {
  background: #e0e0e0;
  z-index: -1;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item.xf-pagination-number .xf-pagination__link:focus {
  background: #e0e0e0;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item.xf-pagination-number.xf-pagination-number__active {
  border: 1px solid #000 !important;
  z-index: 1;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item.xf-pagination-number.xf-pagination-number__active .xf-pagination__link {
  color: #000;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item.xf-pagination-number.xf-pagination-number__active .xf-pagination__link:hover {
  background: transparent;
}

.xf-board-pagination-box .xf-board-pagination-pc .xf-pagination-list .xf-pagination-item.xf-pagination-number.xf-pagination-number__active .xf-pagination__link:focus {
  background: transparent;
}

.xf-board-pagination-box .xf-board-pagenation-mobile {
  display: block;
  text-align: center;
}

.xf-board-pagination-box .xf-board-pagenation-mobile .xf-pagination-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.xf-board-pagination-box .xf-board-pagenation-mobile .xf-pagination-list .xf-pagination-item.xf-pagination-arrow {
  border: 1px solid #e0e0e0;
}

.xf-board-pagination-box .xf-board-pagenation-mobile .xf-pagination-list .xf-pagination-item.xf-pagination-arrow .xf-pagination__disabled-link {
  color: rgba(0, 0, 0, 0.2);
}

.xf-board-pagination-box .xf-board-pagenation-mobile .xf-pagination-list .xf-pagination-item.xe-list-board__pagination-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.xf-board-pagination-box .xf-board-pagenation-mobile .xf-pagination-list .xf-pagination-item .xf-pagination-number {
  text-decoration: none;
  color: #484848;
  line-height: 36px;
  display: inline-block;
  height: 36px;
}

.xf-board-pagination-box .xf-board-pagenation-mobile .xf-pagination-list .xf-pagination-item .xf-pagination__link {
  text-decoration: none;
  color: #484848;
  line-height: 36px;
  display: inline-block;
  width: 36px;
  height: 36px;
}

/*# sourceMappingURL=xe-board-pagination.css.map */
