.xf-board-body .xf-board-writing-form .xf-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.xf-board-body .xf-board-writing-form input::-webkit-input-placeholder {
  color: #767676;
  font-size: 14px;
}

.xf-board-body .xf-board-writing-form input::-moz-placeholder {
  color: #767676;
  font-size: 14px;
}

.xf-board-body .xf-board-writing-form input:-ms-input-placeholder {
  color: #767676;
  font-size: 14px;
}

.xf-board-body .xf-board-writing-form input::-ms-input-placeholder {
  color: #767676;
  font-size: 14px;
}

.xf-board-body .xf-board-writing-form input::placeholder {
  color: #767676;
  font-size: 14px;
}

.xf-board-body .xf-board-writing-form .xf-col01,
.xf-board-body .xf-board-writing-form .xf-col02,
.xf-board-body .xf-board-writing-form .xf-col03,
.xf-board-body .xf-board-writing-form .xf-col04,
.xf-board-body .xf-board-writing-form .xf-col05,
.xf-board-body .xf-board-writing-form .xf-col06,
.xf-board-body .xf-board-writing-form .xf-col07,
.xf-board-body .xf-board-writing-form .xf-col08,
.xf-board-body .xf-board-writing-form .xf-col09,
.xf-board-body .xf-board-writing-form .xf-col10 {
  width: 100%;
}

.xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-dropdown .new-select {
  height: 61px;
  border-bottom: 1px solid #e0e0e0;
}

.xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-dropdown .xe-dropdown__button-box .xe-dropdown__button-text {
  width: 100%;
  height: 61px;
  padding: 18px 15px;
  position: relative;
  opacity: 0.7;
  color: #141414;
  text-align: left;
}

.xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-dropdown .xe-dropdown__button-box .xe-dropdown__button-text:after {
  content: url("../img/dropdown-down.svg");
  margin-left: 0;
  position: absolute;
  right: 15px;
}

.xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-dropdown .xe-dropdown--menu {
  width: 100%;
  margin-top: -1px;
}

.xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-title-input-box .xe-list-board-body--header-title-input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  padding: 18px 15px;
  height: 61px;
}

.xf-board-body .xf-board-writing-form .xf-write-editor-box {
  width: 100%;
  margin-top: -1px;
}

.xf-board-body .xf-board-writing-form .xf-input-nomember-box .xf-nonmember-input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px;
  width: 100%;
}

.xf-board-body .xf-write-check-box {
  margin-top: 20px;
  padding: 0 15px;
}

.xf-board-body .xf-write-check-box .xf-write-check-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xf-board-body .xf-write-check-box .xf-write-check-list .xf-check-item:not(:last-child) {
  margin-right: 12px;
}

.xf-board-body .xf-write-check-box .xf-write-check-list .xf-check-item .xf-check-item__input {
  border: 1px solid #c0c0c0;
}

.xf-board-body .xf-write-check-box .xf-write-check-list .xf-check-item .xf-check-item__label {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.2px;
  color: #484848;
}

.xf-board-body .xf-write-btn-box {
  margin-top: 22px;
}

.xf-board-body .xf-write-btn-box .xf-write-btn {
  margin: 10px 10px 0 10px;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: -0.2px;
  color: #484848;
}

.xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-save-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e0e0e0;
  height: 50px;
}

.xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-save-btn .xf-board-btn__link.xf-board-draft__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 13px;
  font-size: 14px;
  line-height: 27px;
}

.xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-save-btn .xf-board-btn__link .xf-more-btn {
  border-left: 1px solid #e0e0e0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 11px;
}

.xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-save-btn .xf-board-btn__link .xf-more-btn:after {
  font-family: xeicon;
  content: "\e942";
}

.xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-load-btn {
  display: none;
  border-top: 1px solid #e0e0e0;
  text-align: center;
}

.xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-load-btn .xf-board-write-btn {
  padding: 10px;
  width: 100%;
}

.xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-load-btn.open {
  display: block;
}

.xf-board-body .xf-write-btn-box .xf-write-btn.xf-submit-btn .xf-board-write-btn, .xf-board-body .xf-write-btn-box .xf-write-btn.xf-preview-btn .xf-board-write-btn {
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.xf-board-body .xf-write-btn-box .xf-write-btn.xf-submit-btn .xf-board-write-btn {
  border: 1px solid #141414;
  background-color: #141414;
  color: #fff;
}

@media (min-width: 400px) {
  .xf-board-body .xf-write-btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .xf-board-body .xf-write-btn-box .xf-write-btn {
    margin: 0 10px 0 0;
  }
  .xf-board-body .xf-write-btn-box .xf-write-btn:last-child {
    margin: 0;
  }
  .xf-board-body .xf-write-btn-box .xf-board-write-btn {
    min-width: 110px;
  }
  .xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box {
    position: relative;
  }
  .xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-save-btn {
    height: 44px;
  }
  .xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-save-btn .xf-board-btn__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-save-btn .xf-board-btn__link.xf-board-draft__text {
    padding: 10.5px;
  }
  .xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-save-btn .xf-board-btn__link .xf-more-btn {
    height: 100%;
  }
  .xf-board-body .xf-write-btn-box .xf-write-btn.xf-draft-box .xf-draft-load-btn {
    height: 44px;
    position: absolute;
    top: 44px;
    left: 0;
    border-top: 0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
  }
  .xf-board-body .xf-write-btn-box .xf-write-btn.xf-preview-btn .xf-board-write-btn, .xf-board-body .xf-write-btn-box .xf-write-btn.xf-submit-btn .xf-board-write-btn {
    height: 44px;
    padding: 9px;
  }
}

@media (min-width: 992px) {
  .xf-board-body .xf-board-writing-form .xf-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 32px 0;
  }
  .xf-board-body .xf-board-writing-form .xf-col01 {
    width: 10%;
  }
  .xf-board-body .xf-board-writing-form .xf-col02 {
    width: 20%;
  }
  .xf-board-body .xf-board-writing-form .xf-col03 {
    width: 30%;
  }
  .xf-board-body .xf-board-writing-form .xf-col04 {
    width: 40%;
  }
  .xf-board-body .xf-board-writing-form .xf-col05 {
    width: 50%;
  }
  .xf-board-body .xf-board-writing-form .xf-col06 {
    width: 60%;
  }
  .xf-board-body .xf-board-writing-form .xf-col07 {
    width: 70%;
  }
  .xf-board-body .xf-board-writing-form .xf-col08 {
    width: 80%;
  }
  .xf-board-body .xf-board-writing-form .xf-col09 {
    width: 90%;
  }
  .xf-board-body .xf-board-writing-form .xf-col10 {
    width: 100%;
  }
  .xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-dropdown .xe-dropdown__button-box .xe-dropdown__button-text {
    padding: 19px 0 20px 0;
  }
  .xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-dropdown .xe-dropdown__button-box .xe-dropdown__button-text:after {
    right: 0;
  }
  .xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-dropdown.xf-col03 .xe-dropdown--menu {
    width: 30%;
  }
  .xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-dropdown.xf-col07 .xe-dropdown--menu {
    width: 70%;
  }
  .xf-board-body .xf-board-writing-form .xf-write-title-box .xf-write-title-input-box .xe-list-board-body--header-title-input {
    padding: 18px 0;
  }
  .xf-board-body .xf-board-writing-form .ti-input[data-v-61d92e31] {
    padding: 4px 0;
  }
  .xf-board-body .xf-board-writing-form .ti-input[data-v-61d92e31] .ti-new-tag-input-wrapper[data-v-61d92e31] {
    padding: 3px 0;
    margin: 2px 0;
  }
  .xf-board-body .xf-board-writing-form .xf-input-nomember-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .xf-board-body .xf-board-writing-form .xf-input-nomember-box .xf-nonmember-input {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    display: inline-block;
  }
  .xf-board-body .xf-board-writing-form .xf-input-nomember-box .xf-nonmember-input:not(:last-child) {
    width: 25%;
    margin-right: 20px;
  }
  .xf-board-body .xf-board-writing-form .xf-write-check-box {
    margin-top: 32px;
    padding: 0;
  }
  .xf-board-body .xf-board-writing-form .xf-write-check-box .xf-write-check-list .xf-check-item:not(:last-child) {
    margin-right: 24px;
  }
  .xf-board-body .xf-board-writing-form .xf-write-btn-box {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .xf-board-body .xf-board-writing-form .xf-write-btn-box .xf-board-write-btn {
    min-width: 120px;
  }
  .xf-board-body .xf-board-writing-form .xf-write-btn-box .xf-write-btn .xf-draft-save-btn {
    width: 120px;
    height: 48px;
  }
  .xf-board-body .xf-board-writing-form .xf-write-btn-box .xf-write-btn .xf-draft-save-btn .xf-more-btn {
    height: 100%;
  }
  .xf-board-body .xf-board-writing-form .xf-write-btn-box .xf-write-btn.xf-preview-btn {
    width: 120px;
  }
  .xf-board-body .xf-board-writing-form .xf-write-btn-box .xf-write-btn.xf-preview-btn .xf-board-write-btn {
    height: 48px;
  }
  .xf-board-body .xf-board-writing-form .xf-write-btn-box .xf-write-btn.xf-submit-btn {
    width: 120px;
  }
  .xf-board-body .xf-board-writing-form .xf-write-btn-box .xf-write-btn.xf-submit-btn .xf-board-write-btn {
    height: 48px;
  }
}

/*# sourceMappingURL=xe-board-create.css.map */
