@charset "utf-8";

/* comment_entity */
.comment_entity .ly_popup {
  display: none;
  position: absolute;
  z-index: 25;
}
.comment_entity .ly_popup ul {
  min-width: 140px;
  padding: 8px 0;
  border: 1px solid #bebebe;
  border-radius: 4px;
  background-color: #fff;
  list-style: none;
}
.comment_entity .ly_popup li {
  height: 30px;
}
.comment_entity .ly_popup li > a {
  overflow: hidden;
  display: block;
  height: 100%;
  padding: 0 16px;
  font-size: 14px;
  line-height: 30px;
  color: #2c2e37;
}
.comment_entity .ly_popup li > a:hover {
  background-color: #f4f4f4;
}