<div class="xe-list-board-header--dropdown">
    <div class="xe-list-board-header-order__button xe-list-board-header--dropdown__button">
        <div class="xe-list-board--header-dropdown__button-box">
            <button  class="xe-list-board--header-dropdown__button-text" type="button" data-target=".xe-list-board-header-order__button" data-toggle="xe-dropdown" aria-expanded="false">정렬</button>
        </div>
        <ul class="xe-list-board-header--dropdown-menu xe-list-board-header--dropdown-menu">
            <li class="xe-list-board-header--dropdown-menu-item on">
                <a href="#">정렬</a>
            </li>
            <li class="xe-list-board-header--dropdown-menu-item">
                <a href="#">최신순</a>
            </li>
            <li class="xe-list-board-header--dropdown-menu-item">
                <a href="#">추천순</a>
            </li>
        </ul>
    </div>
</div>
