    <div class="xe-list-board-header--right-box __xe-forms">
        <div class="xe-list-board-header--category xe-list-board-header--dropdown-box">
            <div class="xe-list-board-header--dropdown">
                <div class="xe-list-board-header-category__button xe-list-board-header--dropdown__button">
                    <div class="new-select __xe-dropdown-form">
                        <input type="hidden" name="category_item_id" value="" data-valid-name="분류">
                        <div class="xe-list-board-header-category_item_id__button xe-dropdown__button">
                            <div class="xe-dropdown__button-box">
                                <button class="xe-dropdown__button-text" type="button"
                                    data-target=".xe-dropdown--menu--category_item_id" data-toggle="xe-dropdown"
                                    aria-expanded="true">
                                    분류
                                </button>
                            </div>
                            <div class="xe-dropdown--menu xe-dropdown--menu--category_item_id open"
                                data-name="category_item_id">
                                <a href="#" class="xe-dropdown--menu-item-link">
                                    <div class="xe-dropdown--menu-item  on">
                                        분류
                                    </div>
                                </a>
                                <div class="xe-dropdown--menu-item " data-value="2">
                                    <a href="#" class="xe-dropdown--menu-item-link">XEHUB</a>
                                </div>
                                <div class="xe-dropdown--sub-menu">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="xe-list-board-header--sort xe-list-board-header--dropdown-box">
            <div class="xe-list-board-header--dropdown">
                <div class="xe-list-board-header-order__button xe-list-board-header--dropdown__button">
                    <div class="new-select __xe-dropdown-form">
                        <input type="hidden" name="order_type" value="" data-valid-name="정렬">
                        <div class="xe-list-board-header-order_type__button xe-dropdown__button">
                            <div class="xe-dropdown__button-box">
                                <button class="xe-dropdown__button-text" type="button"
                                    data-target=".xe-dropdown--menu--order_type" data-toggle="xe-dropdown"
                                    aria-expanded="false">
                                    정렬
                                </button>
                            </div>
                            <div class="xe-dropdown--menu xe-dropdown--menu--order_type" data-name="order_type">
                                <a href="#" class="xe-dropdown--menu-item-link">
                                    <div class="xe-dropdown--menu-item">
                                        정렬
                                    </div>
                                </a>
                                <div class="xe-dropdown--menu-item " data-value="assent_count">
                                    <a href="#" class="xe-dropdown--menu-item-link">추천순</a>
                                </div>
                                <div class="xe-dropdown--sub-menu">
                                </div>
                                <div class="xe-dropdown--menu-item " data-value="recently_created">
                                    <a href="#" class="xe-dropdown--menu-item-link">최신순</a>
                                </div>
                                <div class="xe-dropdown--sub-menu">
                                </div>
                                <div class="xe-dropdown--menu-item " data-value="recently_updated">
                                    <a href="#" class="xe-dropdown--menu-item-link">최근 수정순</a>
                                </div>
                                <div class="xe-dropdown--sub-menu">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>