<div class="xe-list-board-header--dropdown">
    <div class="xe-list-board-header-{{ $name }}__button xe-list-board-header--dropdown__button">
        <button  class="xe-list-board--header-category__button-text" type="button" data-toggle="xe-dropdown" aria-expanded="false">전체 카테고리</button>
        <ul class="xe-list-board-header--category-menu xe-list-board-header--dropdown-menu">
            <li class="xe-list-board-header--dropdown-menu-item on">
                <a href="#">전체 카테고리</a>
            </li>
            <li class="xe-list-board-header--dropdown-menu-item">
                <a href="#">공지사항</a>
            </li>
            <li class="xe-list-board-header--dropdown-menu-item">
                <a href="#">릴리즈 노트</a>
            </li>
        </ul>
    </div>
</div>
<style>
    .open .xe-list-board-header--dropdown-menu {
        display: block;
    }
</style>
