<div class="xe-list-board-header--dropdown">
    <div class="xe-list-board-header-category__button xe-list-board-header--dropdown__button">
        <div class="xe-list-board--header-dropdown__button-box">
            <button class="xe-list-board--header-dropdown__button-text" type="button" data-target=".xe-list-board-header-category__button" data-toggle="xe-dropdown" aria-expanded="false">전체 카테고리 <i class="xi-angle-down-thin"></i></button>
        </div>
        <ul class="xe-list-board-header--dropdown-menu xe-list-board-header--dropdown-menu">
            <li class="xe-list-board-header--dropdown-menu-item on">
                <a href="#">전체 카테고리</a>
            </li>
            <li class="xe-list-board-header--dropdown-menu-item">
                <a href="#">공지사항</a>
            </li>
            <li class="xe-list-board-header--dropdown-menu-item">
                <a href="#">릴리즈 노트</a>
            </li>
        </ul>
    </div>
</div>
