<div class="xe-list-board-comment">
    <div class="xe-list-board-comment--header">
        <div class="xe-list-board-comment--header-left-box">
            <span class="xe-list-board-comment--header-count-number">4</span><span class="xe-list-board-comment--header-count-text">개의 댓글</span>
        </div>
        <div class="xe-list-board-comment--header-right-box">
            <span>최신순</span>
            <i class="xi-angle-down-thin"></i>
        </div>
    </div>
    <div class="xe-list-board-comment--body">
        <ul class="xe-list-board-comment--list">
            <li class="xe-list-board-comment--list-item">
                <div class="xe-list-board-comment--list-item-wrapper">
                    <div class="xe-list-board-comment-list--left-box">
                        <a href="#" class="xe-list-board-comment__link">
                            <span class="xe-list-board-comment-list__user-image"><span class="blind">유저 이미지</span></span>
                        </a>
                    </div>
                    <div class="xe-list-board-comment-list--right-box">
                        <div class="xe-list-board-comment-list--title">
                            <div class="xe-list-board-comment-list--left-box">
                                <a href="#" class="xe-list-board-comment__link"><span class="xe-list-board-list__display_name">이태원클라스</span></a>
                                <span class="xe-list-board-list-item___detail xe-list-board-list-item___detail-read_count xe-list-board-list__mobile-style">
                                    <span class="xe-list-board-list-item___detail-label">2020.05.02.</span>
                                </span>
                            </div>
                            <div class="xe-list-board-comment-list--right-box">
                                <div class="xe-list-board-body__edit-box">
                                    <span class="xe-list-board-body__edit-item xe-list-board-body__edit"><a href="#" class="xe-list-board-comment-list__link">수정</a></span>
                                    <span class="xe-list-board-body__edit-item xe-list-board-body__delete"><a href="#" class="xe-list-board-comment-list__link">삭제</a></span>
                                </div>
                                <div class="xe-list-board-list__icon-box">
                                    <span class="xe-list-board-list__icon xe-list-board-list__more"><a href="#" class="xe-list-board-comment-list__link"><i class="xi-ellipsis-h"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="xe-list-board-comment-list--body-text">
                            <p class="xe-list-board-comment-list--body-text-paragraph">여기는 미국 캘리포니아입니다.<br>
                                cafe24 웹호스팅 사용하고있으며  해외라서 접근제한과  외부IP에 iP 주소도 입력후 허용정상처리된상태입니다.<br>
                                "웹 / FTP 환경에서 설치하기 http://start.xpressengine.io/download/latest.zip 을 다운로드 합니다."</p>
                        </div>
                        <div class="xe-list-board-comment-list--more-info">
                            <div class="xe-list-board-comment-list__box-assent_count xe-list-board-comment-list__more-info-item">
                                <span class="blind">추천</span>
                                <img src="../../assets/img/assent.svg" alt="추천 아이콘" class="xe-list-board-comment-list-img">
                                <span class="xe-list-board-comment-list__assent_count">0</span>
                            </div>
                            <div class="xe-list-board-comment-list__box-dissent_count xe-list-board-comment-list__more-info-item">
                                <span class="blind">비추천</span>
                                <img src="../../assets/img/dissent.svg" alt="비추천 아이콘" class="xe-list-board-comment-list-img">
                                <span class="xe-list-board-comment-list__dissent_count">0</span>
                            </div>
                            <div class="xe-list-board-comment-list__more-info-item">
                                <span><a href="#" class="xe-list-board-comment__link">답글달기</a></span>
                                <span>(0)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="xe-list-board-comment--list-item">
                <div class="xe-list-board-comment--list-item-wrapper">
                    <div class="xe-list-board-comment-list--left-box">
                        <a href="#" class="xe-list-board-comment__link">
                            <span class="xe-list-board-comment-list__user-image"><span class="blind">유저 이미지</span></span>
                        </a>
                    </div>
                    <div class="xe-list-board-comment-list--right-box">
                        <div class="xe-list-board-comment-list--title">
                            <div class="xe-list-board-comment-list--left-box">
                                <a href="#" class="xe-list-board-comment__link"><span class="xe-list-board-list__display_name">이태원클라스</span></a>
                                <span class="xe-list-board-list-item___detail xe-list-board-list-item___detail-read_count xe-list-board-list__mobile-style">
                                    <span class="xe-list-board-list-item___detail-label">2020.05.02.</span>
                                </span>
                            </div>
                            <div class="xe-list-board-comment-list--right-box">
                                <div class="xe-list-board-body__edit-box">
                                    <span class="xe-list-board-body__edit-item xe-list-board-body__edit"><a href="#" class="xe-list-board-comment-list__link">수정</a></span>
                                    <span class="xe-list-board-body__edit-item xe-list-board-body__delete"><a href="#" class="xe-list-board-comment-list__link">삭제</a></span>
                                </div>
                                <div class="xe-list-board-list__icon-box">
                                    <span class="xe-list-board-list__icon xe-list-board-list__more"><a href="#" class="xe-list-board-comment-list__link"><i class="xi-ellipsis-h"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="xe-list-board-comment-list--body-text">
                            <p>모든 사람, 특히 제품을 디자인하는 사람들이 준수해야 하는 조직의 한 가지 원칙이 있습니다.</p>
                        </div>
                        <div class="xe-list-board-comment-list--more-info">
                            <div class="xe-list-board-comment-list__box-assent_count xe-list-board-comment-list__more-info-item">
                                <span class="blind">추천</span>
                                <img src="../../assets/img/assent.svg" alt="추천 아이콘" class="xe-list-board-comment-list-img">
                                <span class="xe-list-board-comment-list__assent_count">0</span>
                            </div>
                            <div class="xe-list-board-comment-list__box-dissent_count xe-list-board-comment-list__more-info-item">
                                <span class="blind">비추천</span>
                                <img src="../../assets/img/dissent.svg" alt="비추천 아이콘" class="xe-list-board-comment-list-img">
                                <span class="xe-list-board-comment-list__dissent_count">0</span>
                            </div>
                            <div class="xe-list-board-comment-list__more-info-item">
                                <span><a href="#" class="xe-list-board-comment__link">답글달기</a></span>
                                <span>(2)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="xe-list-board-comment--reply-list">
                    <li class="xe-list-board-comment--reply-list-item">
                        <div class="xe-list-board-comment--list-item-wrapper">
                            <div class="xe-list-board-comment-list--left-box">
                                <a href="#" class="xe-list-board-comment__link">
                                    <span class="xe-list-board-comment-list__user-image"><span class="blind">유저 이미지</span></span>
                                </a>
                            </div>
                            <div class="xe-list-board-comment-list--right-box">
                                <div class="xe-list-board-comment-list--title">
                                    <div class="xe-list-board-comment-list--left-box">
                                        <a href="#" class="xe-list-board-comment__link"><span class="xe-list-board-list__display_name">이태원클라스</span></a>
                                        <span class="xe-list-board-list-item___detail xe-list-board-list-item___detail-read_count xe-list-board-list__mobile-style">
                                            <span class="xe-list-board-list-item___detail-label">2020.05.02.</span>
                                        </span>
                                    </div>
                                    <div class="xe-list-board-comment-list--right-box">
                                        <div class="xe-list-board-body__edit-box">
                                            <span class="xe-list-board-body__edit-item xe-list-board-body__edit"><a href="#" class="xe-list-board-comment-list__link">수정</a></span>
                                            <span class="xe-list-board-body__edit-item xe-list-board-body__delete"><a href="#" class="xe-list-board-comment-list__link">삭제</a></span>
                                        </div>
                                        <div class="xe-list-board-list__icon-box">
                                            <span class="xe-list-board-list__icon xe-list-board-list__more"><a href="#" class="xe-list-board-comment-list__link"><i class="xi-ellipsis-h"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="xe-list-board-comment-list--body-text">
                                    <p>모든 사람, 특히 제품을 디자인하는 사람들이 준수해야 하는 조직의 한 가지 원칙이 있습니다.</p>
                                </div>
                                <div class="xe-list-board-comment-list--more-info">
                                    <div class="xe-list-board-comment-list__box-assent_count xe-list-board-comment-list__more-info-item">
                                        <span class="blind">추천</span>
                                        <img src="../../assets/img/assent.svg" alt="추천 아이콘" class="xe-list-board-comment-list-img">
                                        <span class="xe-list-board-comment-list__assent_count">0</span>
                                    </div>
                                    <div class="xe-list-board-comment-list__box-dissent_count xe-list-board-comment-list__more-info-item">
                                        <span class="blind">비추천</span>
                                        <img src="../../assets/img/dissent.svg" alt="비추천 아이콘" class="xe-list-board-comment-list-img">
                                        <span class="xe-list-board-comment-list__dissent_count">0</span>
                                    </div>
                                    <div class="xe-list-board-comment-list__more-info-item">
                                        <span><a href="#" class="xe-list-board-comment__link">답글달기</a></span>
                                        <span>(2)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="xe-list-board-comment--reply-list-item">
                        <div class="xe-list-board-comment--list-item-wrapper">
                            <div class="xe-list-board-comment-list--left-box">
                                <a href="#" class="xe-list-board-comment__link">
                                    <span class="xe-list-board-comment-list__user-image"><span class="blind">유저 이미지</span></span>
                                </a>
                            </div>
                            <div class="xe-list-board-comment-list--right-box">
                                <div class="xe-list-board-comment-list--title">
                                    <div class="xe-list-board-comment-list--left-box">
                                        <a href="#" class="xe-list-board-comment__link"><span class="xe-list-board-list__display_name">이태원클라스</span></a>
                                        <span class="xe-list-board-list-item___detail xe-list-board-list-item___detail-read_count xe-list-board-list__mobile-style">
                                            <span class="xe-list-board-list-item___detail-label">2020.05.02.</span>
                                        </span>
                                    </div>
                                    <div class="xe-list-board-comment-list--right-box">
                                        <div class="xe-list-board-body__edit-box">
                                            <span class="xe-list-board-body__edit-item xe-list-board-body__edit"><a href="#" class="xe-list-board-comment-list__link">수정</a></span>
                                            <span class="xe-list-board-body__edit-item xe-list-board-body__delete"><a href="#" class="xe-list-board-comment-list__link">삭제</a></span>
                                        </div>
                                        <div class="xe-list-board-list__icon-box">
                                            <span class="xe-list-board-list__icon xe-list-board-list__more"><a href="#" class="xe-list-board-comment-list__link"><i class="xi-ellipsis-h"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="xe-list-board-comment-list--body-text">
                                    <p>모든 사람, 특히 제품을 디자인하는 사람들이 준수해야 하는 조직의 한 가지 원칙이 있습니다.</p>
                                </div>
                                <div class="xe-list-board-comment-list--more-info">
                                    <div class="xe-list-board-comment-list__box-assent_count xe-list-board-comment-list__more-info-item">
                                        <span class="blind">추천</span>
                                        <img src="../../assets/img/assent.svg" alt="추천 아이콘" class="xe-list-board-comment-list-img">
                                        <span class="xe-list-board-comment-list__assent_count">0</span>
                                    </div>
                                    <div class="xe-list-board-comment-list__box-dissent_count xe-list-board-comment-list__more-info-item">
                                        <span class="blind">비추천</span>
                                        <img src="../../assets/img/dissent.svg" alt="비추천 아이콘" class="xe-list-board-comment-list-img">
                                        <span class="xe-list-board-comment-list__dissent_count">0</span>
                                    </div>
                                    <div class="xe-list-board-comment-list__more-info-item">
                                        <span><a href="#" class="xe-list-board-comment__link">답글달기</a></span>
                                        <span>(2)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="xe-list-board-comment--list-item">
                <div class="xe-list-board-comment--list-item-wrapper">
                    <div class="xe-list-board-comment-list--left-box">
                        <a href="#" class="xe-list-board-comment__link">
                            <span class="xe-list-board-comment-list__user-image"><span class="blind">유저 이미지</span></span>
                        </a>
                    </div>
                    <div class="xe-list-board-comment-list--right-box">
                        <div class="xe-list-board-comment-list--title">
                            <div class="xe-list-board-comment-list--left-box">
                                <a href="#" class="xe-list-board-comment__link"><span class="xe-list-board-list__display_name">유저 아이디가 매우 길게 길어지면 이렇게 됩니다.</span></a>
                                <span class="xe-list-board-list-item___detail xe-list-board-list-item___detail-read_count xe-list-board-list__mobile-style">
                                    <span class="xe-list-board-list-item___detail-label">2020.05.02.</span>
                                </span>
                            </div>
                            <div class="xe-list-board-comment-list--right-box">
                                <div class="xe-list-board-body__edit-box">
                                    <span class="xe-list-board-body__edit-item xe-list-board-body__edit"><a href="#" class="xe-list-board-comment-list__link">수정</a></span>
                                    <span class="xe-list-board-body__edit-item xe-list-board-body__delete"><a href="#" class="xe-list-board-comment-list__link">삭제</a></span>
                                </div>
                                <div class="xe-list-board-list__icon-box">
                                    <span class="xe-list-board-list__icon xe-list-board-list__more"><a href="#" class="xe-list-board-comment-list__link"><i class="xi-ellipsis-h"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="xe-list-board-comment-list--body-text">
                            <p class="xe-list-board-comment-list--body-text-paragraph">여기는 미국 캘리포니아입니다. cafe24 웹호스팅 사용하고있으며  해외라서 접근제한과  외부IP에 iP 주소도 입력후 허용정상처리된상태입니다.  "웹 / FTP 환경에서 설치하기 http://start.xpressengine.io/download/latest.zip 을 다운로드 합니다."</p>
                        </div>
                        <div class="xe-list-board-comment-list--more-info">
                            <div class="xe-list-board-comment-list__box-assent_count xe-list-board-comment-list__more-info-item">
                                <span class="blind">추천</span>
                                <img src="../../assets/img/assent.svg" alt="추천 아이콘" class="xe-list-board-comment-list-img">
                                <span class="xe-list-board-comment-list__assent_count">0</span>
                            </div>
                            <div class="xe-list-board-comment-list__box-dissent_count xe-list-board-comment-list__more-info-item">
                                <span class="blind">비추천</span>
                                <img src="../../assets/img/dissent.svg" alt="비추천 아이콘" class="xe-list-board-comment-list-img">
                                <span class="xe-list-board-comment-list__dissent_count">0</span>
                            </div>
                            <div class="xe-list-board-comment-list__more-info-item">
                                <span><a href="#" class="xe-list-board-comment__link">답글달기</a></span>
                                <span>(0)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>