    <div class="xe-list-board-footer">
        <div class="xe-list-board--button-box">
            <div class="xe-list-board--btn-left-box">
                <a href="#" class="xe-list-board__btn">관리</a>
            </div>
            <div class="xe-list-board--btn-right-box">
                <a href="#" class="xe-list-board__btn xe-list-board__btn-primary">내가 쓴 글</a>
                <a href="#" class="xe-list-board__btn xe-list-board__btn-primary">글쓰기</a>
            </div>
        </div>
        <!-- PC -->
<div class="xe-list-board--pagination xe-list-board--pagination-pc">
    <ul class="xe-list-board--pagination-list">
        <li class="xe-list-board__pagination-item xe-list-board__btn_pagination xe-list-board__btn_prev"><a class="xe-list-board__pagination-item-link" href="#"><i class="xi-angle-left"></i></a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number xe-list-board__pagination-number--active"><a class="xe-list-board__pagination-item-link" href="#">1</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number"><a class="xe-list-board__pagination-item-link" href="#">2</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number"><a class="xe-list-board__pagination-item-link" href="#">3</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number"><a class="xe-list-board__pagination-item-link" href="#">4</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number"><a class="xe-list-board__pagination-item-link" href="#">5</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number"><a class="xe-list-board__pagination-item-link" href="#">6</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number"><a class="xe-list-board__pagination-item-link" href="#">7</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number"><a class="xe-list-board__pagination-item-link" href="#">8</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number"><a class="xe-list-board__pagination-item-link" href="#">9</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-number"><a class="xe-list-board__pagination-item-link" href="#">10</a></li>
        <li class="xe-list-board__pagination-item xe-list-board__btn_pagination xe-list-board__btn_next"><a class="xe-list-board__pagination-item-link" href="#"><i class="xi-angle-right"></i></a></li>
    </ul>
</div>


<!-- 모바일 -->
<div class="xe-list-board--pagination xe-list-board--pagination-mobile">
    <ul class="xe-list-board--pagination-list">
        <li class="xe-list-board__pagination-item xe-list-board__btn_pagination xe-list-board__btn_prev">
            <a class="xe-list-board__pagination-item-link" href="#"><i class="xi-angle-left"></i></a>
        </li>
        <li class="xe-list-board__pagination-item xe-list-board__pagination-box">
            <span class="xe-list-board__pagination-number-present"><a class="xe-list-board__pagination-item-link" href="#"></a>1</span> / <span class="xe-list-board__pagination-number-total"><a class="xe-list-board__pagination-item-link" href="#">10</a></span>
        </li>
        <li class="xe-list-board__pagination-item xe-list-board__btn_pagination xe-list-board__btn_next">
            <a class="xe-list-board__pagination-item-link" href="#"><i class="xi-angle-right"></i></a>
        </li>
    </ul>
</div>
    </div>
    <div class="xe-list-board-footer__text">
        하단 공통내용을 사용하여 글을 입력하였을 경우 이영역을 사용하게 됩니다. 영역은 100%를 활용하며 게시판 설정에서 사용여부를 통해 사용할 수 있습니다. 
    </div>
