    <div class="xe-list-board-footer">
        <div class="xe-list-board--pg">
            <span class="xe-list-board__btn_pg xe-list-board__btn_prev"><i class="xi-angle-left"></i></span>
            <span class="xe-list-board__pg-number xe-list-board__pg-number--active">1</span>
            <span class="xe-list-board__pg-number"><a href="#">2</a></span>
            <span class="xe-list-board__pg-number"><a href="#">3</a></span>
            <span class="xe-list-board__pg-number"><a href="#">4</a></span>
            <span class="xe-list-board__pg-number"><a href="#">5</a></span>
            <span class="xe-list-board__pg-number"><a href="#">6</a></span>
            <span class="xe-list-board__pg-number"><a href="#">7</a></span>
            <span class="xe-list-board__pg-number"><a href="#">8</a></span>
            <span class="xe-list-board__pg-number"><a href="#">9</a></span>
            <span class="xe-list-board__pg-number"><a href="#">10</a></span>
            <span class="xe-list-board__btn_pg xe-list-board__btn_next"><i class="xi-angle-right"></i></span>
        </div>
    </div>
